<template>
  <div v-if="isTrainer">
    <b-row>
      <b-col cols="1"/>
      <b-col cols="10">
        <b-row id="menu-bar" v-if="addExercise">
          <b-col id="left-col" cols="10">
            <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Dashboard">Profil</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Settings">Einstellungen</router-link>
              </b-dropdown-item>
            </b-dropdown>
            <b-dropdown id="admin" text="Administration" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Admin">Übersicht</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Users">Nutzerverwaltung</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Exercise">Übungen</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Targets">Trainingsziele</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Experience">Erfahrungsgrade</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Trainingsplan">Trainingspläne</router-link>
              </b-dropdown-item>
            </b-dropdown>
          </b-col>
          <b-col id="right-col" cols="2">
            <b-button v-on:click="logout()" id="link-right">logout</b-button>
          </b-col>
        </b-row>
        <b-row id="content">
          <b-col cols="3"/>
          <b-col cols="6">
            <router-link to="Exercise">
              <b-button
                v-if="addExercise"
                id="back"
                variant="outline-secondary">zurück zur Übersicht
              </b-button>
            </router-link>

            <b-form>
              <b-form-input id="name" type="text" v-model="form.name"
                            required placeholder="Name der Übung"></b-form-input>
              <b-textarea id="description" type="textarea" v-model="form.description"
                          placeholder="Beschreibung eingeben"></b-textarea>

              <b-form-group label="Ausführungen">
                <b-button id="addButton" size="sm" variant="success"
                          v-on:click="addExecution()">Hinzufügen
                </b-button>
                <div v-for="(executions, index) in chosenExecutions">
                  <b-form-group style="margin-top: 5px">
                    <b-form-input class="form" type="text" v-model="chosenExecutions[index]">
                    </b-form-input>
                    <b-button size="sm" variant="danger"
                              v-on:click="deleteExecution(index)">Löschen
                    </b-button>
                  </b-form-group>
                </div>
              </b-form-group>
              <b-form-input id="url" type="url" v-model="form.url"
                            placeholder="Video URL"></b-form-input>
              <div>
                <b-form-group label="Alternativ Übungen">
                  <b-form-select multiple :select-size="5"
                                 v-model="form.alternativeIds"
                                 :options="exerciseOptions">
                  </b-form-select>
                </b-form-group>
              </div>
              <div v-if="error" class="error">
                {{ error }}
              </div>
              <b-button v-if="addExercise" v-on:click="sendNewExerciseToServer(form.name, form.description, form.url)">
                Übung hinzufügen
              </b-button>
            </b-form>
          </b-col>
          <b-col cols="3"/>
        </b-row>
      </b-col>
      <b-col cols="1"/>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios';
  import login from './Login';
  import dashboard from './Dashboard'
  import store from '../store';
  import config from './GlobalConfig';
  import Vue from 'vue'

  export default {
    name: "addExercise",
    data() {
      return {
        error: null,
        exerciseOptions: [],
        chosenExecutions: [],
        form: {
          name: '',
          description: '',
          url: '',
          executions: [],
          alternativeIds: []
        },
        isTrainer: false,
        show: true,
        addExercise: true,
      }
    },

    /**
     * This method checks the user being logged in via the cookie and
     * verifies at the server that the user is a trainer.
     * Users not logged in will be pushed to the login. Trainers will
     * remain on the this page, all others will be pushed into the
     * 'Dashboard'.
     */
    mounted() {
      if (document.cookie === '') {
        this.$router.push(login);
      } else {

        //verify the User is logged in and verified trainer
        let code = document.cookie.split('=')[1];
        let zim = atob(code);
        zim = zim.split(':')[0];
        let url = config.url + 'users/' + zim + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          if (response.data === "TRAINER") {
            this.isTrainer = true;
            this.created();
          } else {
            this.$router.push(dashboard);
          }
        })
      }
    },

    created() {
      return this.createAlternativeExerciseDropdown(this.exercises);
    },

    watch: {
      '$route': 'createExerciseCheckboxes'
    },

    computed: {
      userId() {
        return store.getters.userId;
      },

      userPassword() {
        return store.getters.userPassword;
      },

      exercises() {
        return store.getters.exercises;
      }
    },

    methods: {

      deleteExecution(index) {
        Vue.set(this.chosenExecutions, index, null);
        this.chosenExecutions.splice(index, 1);
      },

      addExecution() {
        Vue.set(this.chosenExecutions, this.chosenExecutions.length, null);

      },

      saveNewExercise(newExercise) {
        store.commit('addExercise', newExercise);
      },

      disableNavBar() {
        this.addExercise = false;
      },

      enableNavBar() {
        this.addExercise = true;
      },

      /**
       * Is used to create checkboxes with exercises as descriptions.
       * Takes the existing exercises and copies them to an array which is used
       * to display the checkboxes.
       * The checkboxes are used to select alternative exercises for an new created exercise.
       */
      createAlternativeExerciseDropdown(exercises) {
        if (this.exerciseOptions.length > 0) {
          this.options = [];
        }
        this.exerciseOptions.length = exercises.length + 1;
        this.exerciseOptions[0] = {value: 1, text: 'Keine Alternativübung'};
        for (let i = 0; i < exercises.length; i++) {
          this.exerciseOptions[i + 1] = {value: exercises[i].id, text: exercises[i].name};
        }
      },

      /**
       * Validates the name not being an empty String and the alternative exercises have been inserted correct.
       */
      validateInput(name) {
        if (name === '') {
          alert("Bitte geben Sie der Übung einen Namen!");
          return false;
        } else if (this.form.alternativeIds.includes(1) && this.form.alternativeIds.length > 1) {
          alert('Es wurden Alternativübungen ausgewählt, obwohl "Keine Alternativübungen" ausgewählt wurde.');
          return false;
        } else {
          return true;
        }
      },

      resetInputFields() {
        this.form.alternativeIds = [];
        this.form.executions = [];
        this.chosenExecutions = [];
        this.form.url = '';
        this.form.description = '';
        this.form.name = '';
        let node = document.getElementById("exeList");
        node.innerHTML = '';
        this.show = false;
        this.$nextTick(() => {
          this.show = true
        });
      },

      /**
       * Converts most known youtube video urls into youtube-accepted
       * embed video urls. If an url can not be convert an alert will inform
       * the user about its wrong input
       */
      convertUrl(videoURL) {
        if (videoURL.includes("watch?v=")) {
          videoURL = videoURL.split('=')[1];
          return 'https://www.youtube.com/embed/' + videoURL;
        } else if (videoURL.includes("https://youtu.be/")) {
          videoURL = videoURL.split('/')[3];
          return 'https://www.youtube.com/embed/' + videoURL;
        } else if (videoURL.includes("youtu.be")) {
          videoURL = videoURL.split('/')[1];
          return 'https://www.youtube.com/embed/' + videoURL;
        } else if (videoURL.includes("https://youtube.com/embed")) {
          videoURL = videoURL.split('/')[4];
          return 'https://www.youtube.com/embed/' + videoURL;
        } else if (videoURL.includes("youtube.com/embed")) {
          videoURL = videoURL.split('/')[2];
          return 'https://www.youtube.com/embed/' + videoURL;
        } else {
          alert('Die Youtube URL konnte nicht konvertiert werden. Es werden nur ' +
            'URLs des Formats "www.youtube.com/watch?v=", "youtu.be/" und ' +
            '"youtube.com/embed/" akzeptiert.');
          return null;
        }
      },

      validateExercise() {
        let name = this.form.name;
        let videoURL = this.form.url;
        let description = this.form.description;
        this.sendNewExerciseToServer(name, description, videoURL);
      },

      /**
       * This method sends the http request to the server. The new exercise is
       * delivered in form of a JSON-object. If the request is successful
       * the exercise will be added to the database and then returned to be
       * added to the checkboxes
       */
      sendNewExerciseToServer(name, description, videoURL) {
        this.error = null;
        if (this.validateInput(name)) {
          if (this.form.alternativeIds[0] === 1) {
            this.form.alternativeIds = [1];
          }
          if (this.form.url !== '') {
            videoURL = this.convertUrl(videoURL);
          }
          let newExercise = {
            name: name,
            description: description,
            videoURL: videoURL,
            executions: this.chosenExecutions,
            alternativeIds: this.form.alternativeIds
          };
          let code = document.cookie.split('=')[1];
          let url = config.url + "exercises";
          axios.post(url, newExercise, {
            headers: {
              Authorization: 'Basic ' + code,
            }
          }).then((response) => {
            if (response.status === 200) {
              alert("Übung wurde erfolgreich hinzugefügt!");
              this.saveNewExercise(response.data);
              this.resetInputFields();
              this.createAlternativeExerciseDropdown(this.exercises);
              this.$refs.addPlan.addNewExercise(response.data);
            }
          }).catch(e => {
            if (e.response.status === 400) {
              //Display exceptions of the Server
              switch (e.response.data.message) {
                case 'ALREADY_EXISTS':
                  alert("Diese Übung gibt es schon!");
                  break;
                case 'NAME_MISSING':
                  alert("Name der Übung fehlt!");
                  break;
                case 'INVALID_NAME':
                  alert("Ungülitiger Name!");
                  break;
                case 'ALTERNATIVE_ID_OWN_ID':
                  alert("Die Alternativübung sollte nicht die Übung selbst sein!");
                  break;
                case 'ALTERNATIVE_ID_NOT_EXISTING':
                  alert("Alternativübung existiert nicht!");
                  break;
              }
            } else if (e.response.status === 401) {
              this.error = 'Sie sind nicht angemeldet!';
            } else {
              this.error = e.toString();
            }
            console.log(e);
          })
        }
      },

      resetUserData() {
        store.commit('resetUserData');
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              this.resetUserData();
              document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
              this.$router.push(login);
            }
          }).catch(e => {
          console.log(e);

        });
      },
    }
  }
</script>

<style scoped>

  #menu-bar {
    background-color: rgb(108, 117, 125);
    margin-top: 5px;
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

  #content {
    margin-top: 30px
  }

  #name {
    margin-top: 10px;
  }

  #description {
    margin-top: 10px;
  }

  #exeList {
    margin-top: 10px;
  }

  #addButton {
    margin-top: -8px;
  }

  #url {
    margin-top: 10px;
  }

  #back {
    width: 100%;
  }
</style>
