<template>
  <div v-if="isTrainer">
    <b-row>
      <b-col cols="1"/>
      <b-col cols="10">
        <b-row id="menu-bar" style="">
          <b-col id="left-col" cols="10">
            <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Dashboard">Profil</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Settings">Einstellungen</router-link>
              </b-dropdown-item>
            </b-dropdown>
            <b-dropdown id="admin" text="Administration" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Admin">Übersicht</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Users">Nutzerverwaltung</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Exercise">Übungen</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Targets">Trainingsziele</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Experience">Erfahrungsgrade</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Trainingsplan">Trainingspläne</router-link>
              </b-dropdown-item>
            </b-dropdown>
          </b-col>
          <b-col id="right-col" cols="2">
            <b-button v-on:click="logout()" id="link-right">logout</b-button>
          </b-col>
        </b-row>
        <b-row id="content">
          <b-col cols="3"/>
          <b-col cols="6">
            <router-link to="Experience">
              <b-button id="back" variant="outline-secondary">zurück zur Übersicht</b-button>
            </router-link>
            <b-form @submit="validateInput(form.name, form.description)" @reset="reset" v-if="show">
              <b-form-group id="name"
                            label="Name">
                <b-form-input id="nameInput"
                              type="text"
                              required
                              placeholder="Bitte benenne den Erfahrungsgrad"
                              v-model="form.name">
                </b-form-input>
              </b-form-group>
              <b-form-group id="description"
                            label="Beschreibung hinzufügen"
                            description="max 200 Zeichen erlaubt">
                <b-form-textarea id="descritpionInput"
                                 :rows="3"
                                 v-model="form.description">
                </b-form-textarea>
              </b-form-group>
              <b-button type="submit" variant="success">Speichern</b-button>
              <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
          </b-col>
          <b-col cols="3"/>
        </b-row>
      </b-col>
      <b-col cols="1"/>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios'
  import login from './Login';
  import dashboard from './Dashboard';
  import config from './GlobalConfig';

  export default {
    name: "addExperience",
    data() {
      return {
        form: {
          name: '',
          description: ''
        },
        show: true,
        isTrainer: false
      }
    },

    /**
     * This method checks the user being logged in via the cookie and
     * verifies at the server that the user is a trainer.
     * Users not logged in will be pushed to the login. Trainers will
     * remain on the this page, all others will be pushed into the
     * 'Dashboard'.
     */
    mounted() {
      if (document.cookie === '') {
        this.$router.push(login);
      } else {

        //verify the User is logged in and verified trainer
        let code = document.cookie.split('=')[1];
        let zim = atob(code);
        zim = zim.split(':')[0];
        let url = config.url + 'users/' + zim + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          if (response.data === "TRAINER") {
            this.isTrainer = true;
          } else {
            this.$router.push(dashboard);
          }
        })
      }
    },

    methods: {

      /**
       *  The method validates that the description is not too long. The HTML-tag required checks that
       *  a name has been inserted.
       */
      validateInput(name, description) {
        if (description.length > 200) {
          alert("Beschreibung enthält " + description.length + " Zeichen. Es sind maximal 200 Zeichen erlaubt.")
        } else {
          this.sendData(name, description)
        }
      },

      /**
       * Send the validated data to the server which saves them into the database.
       *
       * @param name The experience's name.
       * @param description Its description.
       */
      sendData(name, description) {
        let experience = {
          name: name,
          description: description
        };
        let url = config.url + "experiences";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.post(url, experience, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        }).then((response) => {
          if (response.status === 200) {
            alert("Erfahrungsgrad gespeichert.");
            this.reset()
          } else {
            alert("Erfahrungsgrad konnte nicht in die Datenbank gespeichert werden.")
          }
        }).catch(error => {
          console.log(error);
        })
      },

      reset() {
        this.form.name = '';
        this.form.description = '';
        this.show = false;
        this.$nextTick(() => {
          this.show = true
        });
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
              this.$router.push(login);
            }
          }).catch(e => {
          console.log(e);

        });
      },
    }
  }
</script>

<style scoped>
  #menu-bar {
    background-color: rgb(108, 117, 125);
    margin-top: 5px
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

  #content {
    margin-top: 10px;
  }

  #back {
    width: 100%
  }

</style>
