<template>
  <div v-if="isTrainer">
    <b-row>
      <b-col cols="1"/>
      <b-col cols="10">
        <b-row id="menu-bar">
          <b-col id="left-col" cols="10">
            <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Dashboard">Profil</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Settings">Einstellungen</router-link>
              </b-dropdown-item>
            </b-dropdown>
            <b-dropdown id="admin" text="Administration" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Admin">Übersicht</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Users">Nutzerverwaltung</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Exercise">Übungen</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Targets">Trainingsziele</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Experience">Erfahrungsgrade</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Trainingsplan">Trainingspläne</router-link>
              </b-dropdown-item>
            </b-dropdown>
          </b-col>
          <b-col id="right-col" cols="2">
            <b-button v-on:click="logout()" id="link-right">logout</b-button>
          </b-col>
        </b-row>
        <b-row id="form">
          <b-col cols="3"/>
          <b-col cols="6">
            <router-link to="Targets">
              <b-button id="back" variant="outline-secondary">zurück zur Übersicht</b-button>
            </router-link>
            <b-form>
              <b-form-input id="name" type="text" v-model="form.name" required
                            placeholder="Name des Ziels"></b-form-input>
              <b-textarea id="description" type="textarea" v-model="form.description"
                          placeholder="Beschreibung eingeben"></b-textarea>
              <b-textarea id="information" type="textarea" v-model="form.information"
                          placeholder="zusätzliche Informationen"></b-textarea>
              <div>
                <b-form-select id="focus" v-model="form.focus" :options="options" class="mb-3">
                  <template slot="first">
                    <option :value="null" disabled> Oberziel des Ziels</option>
                  </template>
                </b-form-select>
              </div>
              <div v-if="error" class="error">
                {{ error }}
              </div>
              <b-button v-on:click="sendNewAimToServer(form.name, form.focus,
             form.description, form.information)">
                Trainingsziel hinzufügen
              </b-button>
            </b-form>
          </b-col>
          <b-col cols="3"/>
        </b-row>
      </b-col>
      <b-col cols="1"/>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios';
  import login from './Login';
  import dashboard from './Dashboard';
  import store from '../store';
  import config from './GlobalConfig';

  export default {
    name: "addTarget",
    data() {
      return {
        error: null,
        options: [],
        form: {
          name: '',
          description: '',
          information: '',
          focus: null
        },
        show: true,
        isTrainer: false,
      }
    },

    /**
     * This method checks the user being logged in via the cookie and
     * verifies at the server that the user is a trainer.
     * Users not logged in will be pushed to the login. Trainers will
     * remain on the this page, all others will be pushed into the
     * 'Dashboard'.
     */
    mounted() {
      if (document.cookie === '') {
        this.$router.push(login);
      } else {

        //verify the User is logged in and verified trainer
        let code = document.cookie.split('=')[1];
        let zim = atob(code);
        zim = zim.split(':')[0];
        let url = config.url + 'users/' + zim + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          if (response.data === "TRAINER") {
            this.isTrainer = true;
            this.created();
          } else {
            this.$router.push(dashboard);
          }
        })
      }
    },

    created() {
      return this.createDropDownMenu(this.aims);
    },

    watch: {
      '$route': 'createDropDownMenu'
    },

    computed: {
      userId() {
        return store.getters.userId;
      },

      userPassword() {
        return store.getters.userPassword;
      },

      aims() {
        return store.getters.aims;
      }
    },

    methods: {

      /**
       * Creates a dropdown menu consisting of all existing aims.
       */
      createDropDownMenu(aims) {
        if (this.options.length > 0) {
          this.options = [];
        }
        this.options.length = aims.length + 1;
        this.options[0] = {value: 0, text: 'Kein Oberziel'};
        for (let i = 0; i < aims.length; i++) {
          this.options[i + 1] = {value: aims[i].id, text: aims[i].name};
        }
      },

      saveNewAim(newAim) {
        store.commit('addAim', newAim);
      },

      resetUserData() {
        store.commit('resetUserData');
      },

      resetInputFields() {
        this.form.information = '';
        this.form.description = '';
        this.form.focus = null;
        this.form.name = '';
      },

      validateInput(name) {
        if (name === '') {
          alert("Bitte geben Sie dem Ziel einen Namen!");
          return false;
        } else {
          return true;
        }
      },

      /**
       * Calls a method checking the trainer's input and sends the
       * input to the server saving the new aim into the database.
       */
      sendNewAimToServer(name, superAimId, description, furtherInformation) {
        this.error = null;
        if (this.validateInput(name)) {
          let newTarget = {
            name: name,
            superAimId: superAimId,
            description: description,
            furtherInformation: furtherInformation
          };
          let url = config.url + "aims";
          let code = document.cookie;
          let authCode = code.split('=');
          code = authCode[1];
          axios.post(url, newTarget, {
            headers: {
              Authorization: 'Basic ' + code,
            }
          }).then((response) => {
            if (response.status === 200) {
              alert("Ziel wurde erfolgreich hinzugefügt!");
              this.saveNewAim(newTarget);
              this.resetInputFields();
              this.createDropDownMenu(this.aims);
            }
          }).catch(error => {
            if (error.response.status === 400) {
              switch (error.response.data.message) {
                case 'ALREADY_EXISTS':
                  alert("Dieses Trainingsziel gibt es schon!");
                  break;
                case 'NAME_MISSING':
                  alert("Name des Trainingsziels fehlt!");
                  break;
                case 'INVALID_NAME':
                  alert("Ungülitiger Name!");
                  break;
                case 'INVALID_SUPER_AIM_ID':
                  alert("Ungültiges Oberziel!!");
                  break;
              }
            } else if (error.response.status === 401) {
              this.error = 'Sie sind nicht angemeldet!';
            } else {
              this.error = error.toString();
            }
            console.log(error);
          })
        }
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              this.resetUserData();
              document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
              this.$router.push(login);
            }
          }).catch(e => {
          console.log(e);

        });
      },

    }
  }
</script>

<style scoped>
  #menu-bar {
    background-color: rgb(108, 117, 125);
    margin-top: 5px;
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

  #form {
    margin-top: 30px;
  }

  #name {
    margin-top: 10px;
  }

  #description {
    margin-top: 10px;
  }

  #information {
    margin-top: 10px;
  }

  #focus {
    margin-top: 10px;
  }

  #back {
    width: 100%
  }

  b-form {
    margin-top: 15px;
  }
</style>
