<template>
  <div v-if="isTrainer" id="admin">
    <b-row>
      <b-col cols="1"/>
      <b-col cols="10">
        <b-row v-if="showName" style="margin-top: 10px">
          <h1>Herzlich Willkommen {{name}}</h1>
        </b-row>
        <b-row id="menu-bar">
          <b-col id="left-col" cols="10">
            <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Dashboard">Profil</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Settings">Einstellungen</router-link>
              </b-dropdown-item>
            </b-dropdown>
            <b-dropdown id="admin" text="Administration" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Admin">Übersicht</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Users">Nutzerverwaltung</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Exercise">Übungen</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Targets">Trainingsziele</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Experience">Erfahrungsgrade</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Trainingsplan">Trainingspläne</router-link>
              </b-dropdown-item>
            </b-dropdown>
          </b-col>
          <b-col id="right-col" cols="2">
            <b-button v-on:click="logout()" id="link-right">logout</b-button>
          </b-col>
        </b-row>
        <b-row id="firstRow">
          <b-col>
            <b-container fluid>
              <b-card>
                <p class="card-text">
                  Hier finden Sie eine Übersicht aller Nutzer, die aktuell im System registriert sind.
                  Hier können
                  weitere Trainer ernannt oder aktuelle Trainer entlassen werden. Außerdem kann der
                  Zugang zum
                  System für Nutzer gesperrt werden oder einem Nutzer ein bestimmter Trainingsplan
                  zugewiesen werden.
                </p>
                <router-link id="link" to="Users">
                  <b-button id="card-link">zur Nutzerübersicht</b-button>
                </router-link>
              </b-card>
            </b-container>
          </b-col>
          <b-col>
            <b-container fluid>
              <b-card>
                <p class="card-text">
                  Hier finden Sie eine Übersicht aller Trainingsziele. Sofern gewünscht, können hier
                  weitere
                  Trainingsziele
                  hinzugefügt werden. Das löschen von vorhandenen Trainingszielen ist ebenfalls
                  möglich.
                </p>
                <router-link id="link" to="Targets">
                  <b-button id="card-link">zu den Trainingszielen</b-button>
                </router-link>
              </b-card>
            </b-container>
          </b-col>
        </b-row>
        <b-row id="secondRow">
          <b-col>
            <b-container fluid>
              <b-card>
                <p class="card-text">
                  Hier finden Sie eine Übersicht aller Übungen. Sofern gewünscht, können hier weitere
                  Übungen
                  hinzugefügt werden. Das löschen von vorhandenen Übungen ist ebenfalls möglich.
                </p>
                <router-link id="link" to="exercise">
                  <b-button id="card-link">zu den Übungen</b-button>
                </router-link>
              </b-card>
            </b-container>
          </b-col>
          <b-col>
            <b-container fluid>
              <b-card>
                <p class="card-text">
                  Hier finden Sie eine Übersicht aller Erfahrungsgerade, die bei der Registrierung
                  angegeben werden
                  können.
                  Sofern gewünscht, können zusätzliche Erfahrungsgrade hinzugefügt und vorhandene
                  gelöscht werden.
                </p>
                <router-link id="link" to="Experience">
                  <b-button id="card-link">zu den Erfahrungsgraden</b-button>
                </router-link>
              </b-card>
            </b-container>
          </b-col>
        </b-row>
        <b-row id="thirdRow">
          <b-col>
            <b-container fluid>
              <b-card>
                <p class="card-text">
                  Hier finden Sie eine Übersicht aller Trainingspläne. Sofern gewünscht, können hier
                  weitere
                  Trainingspläne hinzugefügt werden. Das löschen von vorhandenen Trainingsplänen ist
                  ebenfalls möglich.
                </p>
                <router-link id="link" to="Trainingsplan">
                  <b-button id="card-link">zu den Trainingsplänen</b-button>
                </router-link>
              </b-card>
            </b-container>
          </b-col>
        </b-row>
      </b-col>
      <b-col cols="1"/>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios';
  import login from './Login';
  import store from '../store';
  import config from './GlobalConfig';
  import dashboard from './Dashboard';

  export default {
    name: "Admin",

    data() {
      return {
        showName: false,
        isTrainer: false,
        name: '',
      }
    },

    /**
     * This method checks the user being logged in via the cookie and
     * verifies at the server that the user is a trainer.
     * Users not logged in will be pushed to the login. Trainers will
     * remain on the 'Admin' page, all others will be pushed into the
     * 'Dashboard'.
     */
    mounted() {
      if (document.cookie === '') {
        this.$router.push(login);
      } else {

        //verify the User is logged in and verified trainer
        let code = document.cookie.split('=')[1];
        let zim = atob(code);
        zim = zim.split(':')[0];
        let url = config.url + 'users/' + zim + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          if (response.data === "TRAINER") {
            this.isTrainer = true;
            this.getUser();
          } else {
            this.$router.push(dashboard);
          }
        })
      }
    },

    computed: {
      userId() {
        return store.getters.userId;
      },

      userPassword() {
        return store.getters.userPassword;
      }
    },

    methods: {

      /**
       * The method displays the user's name at the top of the site.
       */
      getUser() {
        let code = document.cookie.split('=')[1];
        let zim = atob(code);
        zim = zim.split(':')[0];
        let url = config.url + 'users/' + zim + '/getUser';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          this.showName = true;
          this.name = response.data.name;
        }).catch(error => {
          console.error(error);
        });
      },

      resetUserData() {
        store.commit('resetUserData');
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              this.resetUserData();
              document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
              this.$router.push(login);
            }
          }).catch(e => {
          console.log(e);

        });
      },
    }
  }

</script>

<style scoped>
  #menu-bar {
    background-color: rgb(108, 117, 125);
    margin-top: 5px;
  }

  #link {
    color: white
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

  #card-link {
    background-color: dodgerblue;
    display: block;
    width: 100%;
  }

  #firstRow {
    margin-top: 15px;
  }

  #secondRow {
    margin-top: 15px;
  }

  #thirdRow {
    margin-top: 15px;
  }

  b-card {
    display: block;
    height: 100%;
  }
</style>
