<template>
  <div>
    <b-col cols="1"/>
    <b-col cols="10">
      <b-row style="margin-top: 10px; margin-bottom: 10px; align-content: center; text-align: center">
        <h5 v-if="hasGender">Willkommen zurück {{user.name}}</h5>
        <h5 v-if="!hasGender">Herzlich Willkommen {{user.name}}</h5>
      </b-row>
    </b-col>
    <b-col cols="1"/>
    <b-row id="menu-bar">
      <b-col id="left-col" cols="8">
        <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
          <b-dropdown-item>
            <router-link to="Dashboard">Profil</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Settings">Einstellungen</router-link>
          </b-dropdown-item>
        </b-dropdown>
        <b-dropdown id="admin" text="Administration" class="m-md-2" v-if="isTrainer">
          <b-dropdown-item>
            <router-link to="Admin">Übersicht</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Users">Nutzerverwaltung</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Exercise">Übungen</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Targets">Trainingsziele</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Experience">Erfahrungsgrade</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Trainingsplan">Trainingspläne</router-link>
          </b-dropdown-item>
        </b-dropdown>
      </b-col>
      <b-col id="right-col" cols="4">
        <b-button v-on:click="logout()" id="link-right">logout</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="1"/>
      <b-col cols="10">
        <div v-if="hasGender" style="margin-top: 20px">
          <b-row>
            <b-table stacked :items="items"></b-table>
          </b-row>
          <div v-if="hasSchedule">
            <b-row>
              <div style="width: 100%; border: solid lightgray 1px">
                <b-row stlye="width: 100%; margin-top: 15px">
                  <b-col cols="1"/>
                  <b-col cols="10" style="text-align: center">
                    <h6 style="width: 100%; margin-top: 10px">{{counter}}/{{max}} Einheiten
                      abgeschlossen</h6>
                    <b-progress :value="counter" :max="max" animated variant="success"/>
                  </b-col>
                  <b-col cols="1"/>
                </b-row>
                <b-row style="width: 100%; margin-top: 15px; margin-bottom: 10px">
                  <router-link to="Trainingsuebersicht" style="width: 100%; margin-left: 25px">
                    <b-button variant="success" style="width: 100%">Training starten</b-button>
                  </router-link>
                </b-row>
              </div>
            </b-row>
            <b-row>
            </b-row>
          </div>
          <div v-if="!hasSchedule">
            <b-row style="width: 100%; margin-top: 20px">
              <b-form-group :description="aimDescription" style="width: 100%">
                <b-form-select v-on:change="callAimDescription" :options="aims"
                               v-model="form.selectedAim"
                               style="width: 100%">
                  <template slot="first" style="width: 100%">
                    <option :value="null" disabled>neues Trainingsziel wählen</option>
                  </template>
                </b-form-select>
              </b-form-group>
              <b-button v-on:click="callNewPlan" variant="success"
                        style="width: 100%; text-align: center">
                Trainingsplan anfordern
              </b-button>
            </b-row>
          </div>
        </div>
        <div v-if="!hasGender" style="margin-top: 20px">
          <p>persönliche Daten vervollständigen</p>
          <b-form-group label="Geschlecht*">
            <b-form-select :options="gender" v-model="selectedGender">
              <template slot="first">
                <option :value="null" disabled>Geschlecht wählen</option>
              </template>
            </b-form-select>
          </b-form-group>
          <b-form-group label="Erfahrungsgrad*" :description="experienceDescription">
            <b-form-select v-on:change="callExperienceDescription" v-model="form.selectedExperience"
                           :options="experiences">
              <template slot="first">
                <option :value="null" disabled>Erfahrungsgrad wählen</option>
              </template>
            </b-form-select>
          </b-form-group>
          <b-form-group label="Trainingsziel*" :description="aimDescription">
            <b-form-select v-on:change="callAimDescription" :options="aims" v-model="form.selectedAim">
              <template slot="first">
                <option :value="null" disabled>Trainingsziel wählen</option>
              </template>
            </b-form-select>
          </b-form-group>
          <b-form-group label="Körpergröße in cm" description="freiwillige Angabe">
            <b-form-input type="number" v-model="form.height"></b-form-input>
          </b-form-group>
          <b-form-group label="Körpergewicht in kg" description="freiwillige Angabe">
            <b-form-input type="number" v-model="form.weight"></b-form-input>
          </b-form-group>
          <b-button v-on:click="callSubmit" variant="success" style="width: 100%; text-align: center">
            Trainingsplan anfordern
          </b-button>
        </div>
      </b-col>
      <b-col cols="1"/>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios';
  import login from './Login';
  import store from '../store';
  import config from './GlobalConfig';
  import training from './Trainingsuebersicht';
  import Vue from 'vue';

  export default {
    name: "Dashboard",
    data() {
      return {
        selected: null,
        code: null,
        user: [],
        items: [],
        form: {
          height: '',
          weight: '',
          selectedExperience: null,
          selectedAim: null,
        },
        counter: 0,
        max: 0,
        selectedGender: null,
        isTrainer: false,
        hasScheduleAndAim: false,
        hasSchedule: false,
        hasGender: false,
        scheduleId: null,
        gender: [
          {value: 'MALE', text: 'männlich'},
          {value: 'FEMALE', text: 'weiblich'}
        ],
        experiences: [],
        experienceDescription: '',
        aims: [],
        aimDescription: '',
        aim: '',
      }
    },

    computed: {
      userId() {
        return store.getters.userId;
      },

      userPassword() {
        return store.getters.userPassword;
      },


    },

    /**
     * Checks that the user is logged in, if not the user will be pushed back to the login page.
     * If the user is logged in, his status will be requested to show or not show the 'Admin' router
     * link, which is only available for trainers. Afterwards the page will be build according to the
     * users current state (firstLogin/ login with active schedule/ login without active schedule).
     */
    mounted() {

      if (document.cookie === '') {
        this.$router.push(login);
      } else {
        //receiving the user's status to show or hide admin area
        this.code = document.cookie.split('=')[1];
        let id = atob(this.code);
        id = id.split(':')[0];
        let url = config.url + 'users/' + id + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + this.code
          }
        }).then(response => {
          this.isTrainer = (response.data === "TRAINER");
        }).catch(error => {
          console.error(error);
        });

        //gets the user
        this.getUser();
      }
    },

    methods: {

      resetUserData() {
        store.commit('resetUserData');
      },

      /**
       * Requests all available experiences from the server and builds them into a dropdown menu.
       */
      generateExperienceMenu() {
        let url = config.url + 'experiences';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + this.code
          }
        }).then(response => {
          this.experiences = [];
          this.experiences.length = response.data.length;
          for (let i = 0; i < (response.data).length; ++i) {
            Vue.set(this.experiences, i, {value: response.data[i].id, text: response.data[i].name});
          }
        }).catch(error => {
          console.error(error);
        });
      },

      /**
       * Requests all available aims from the server and builds them into a dropdown menu.
       */
      generateAimMenu() {
        let url = config.url + 'aims';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + this.code
          }
        }).then(response => {
          this.aims = [];
          this.aims.length = response.data.length;
          for (let i = 0; i < (response.data).length; ++i) {
            this.aims[i] = {value: response.data[i].id, text: response.data[i].name};
          }
        }).catch(error => {
          console.error(error);
        });
      },

      callSubmit() {
        setTimeout(this.submitData(), 10);
      },

      /**
       * Submits the user's personal data after the first login to the server requesting to assign
       * a schedule to the specified user. After successfully being assigned to a plan, the user
       * will be pushed to the schedule overview.
       */
      submitData() {
        let zim = atob(this.code);
        zim = zim.split(':')[0];
        let user = {
          zim: zim,
          gender: this.selectedGender,
          experienceId: this.form.selectedExperience,
          aimId: this.form.selectedAim,
          height: this.form.height,
          weight: this.form.weight
        };
        let url = config.url + 'users/firstLogin';
        axios.put(url, user, {
          headers: {
            Authorization: 'Basic ' + this.code
          }
        }).then(response => {
          this.schedule = response.data;
          this.hasSchedule = true;
          this.$router.push(training);
        }).catch(error => {
          console.error(error);
          alert("Etwas ist schief gelaufen.");
        });
      },

      /**
       * Receives all data of a specified user saved in the database. The method also determines
       * which state should be shown (firstLogin/ login with active schedule/ login without active schedule).
       * According to the state all nessecary information will be displayed for the user.
       */
      getUser() {
        let zim = atob(this.code);
        zim = zim.split(':')[0];
        let url = config.url + 'users/' + zim + '/getUser';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + this.code
          }
        }).then(response => {
          this.user = response.data;
          this.hasGender = !(response.data.gender === null);
          this.hasSchedule = !(response.data.scheduleId === null);
          this.hasScheduleAndAim = !(response.data.aimId === null && response.data.scheduleId === null);
          this.scheduleId = response.data.scheduleId;

          if (!this.hasGender) {
            //generating experienceMenu
            setTimeout(this.generateExperienceMenu(), 10);

            //generating aimMenu
            setTimeout(this.generateAimMenu(), 10);
          } else {

          }
          if (this.hasSchedule) {
            //generates the progress of the current schedule
            setTimeout(this.generateProgress(), 10);


            //gets the aim of the user's schedule
            setTimeout(this.getTrainingAim(), 10);
          } else if (!this.hasSchedule) {
            this.userAim = "kein Ziel ausgewählt";

            //generating aimMenu
            setTimeout(this.generateAimMenu(), 10);
          }

          setTimeout(this.generateTable(), 10);
        }).catch(error => {
          console.error(error);
        });
      },

      /**
       * Builds the user's personal details into a table.
       */
      generateTable() {
        if (this.user === [] || this.userAim === '') {
          if (this.user === []) {
            this.getUser();
          } else if (this.aim === '') {
            this.getTrainingAim();
          }
        }

        Vue.set(this.items, 0,
          {
            name: this.user.name,
            koerpergroesse: this.user.height,
            koerpergewicht: this.user.weight,
            trainingsziel: this.userAim
          }
        );

      },

      /**
       * Receives the aim from the user's assigned schedule.
       */
      getTrainingAim() {
        let url = config.url + 'schedules/' + this.scheduleId + '/getAim';
        if (this.scheduleId === null) {
          this.userAim = "kein Ziel";
          setTimeout(this.generateTable);
        } else {
          axios.get(url, {
            headers: {
              Authorization: 'Basic ' + this.code
            }
          }).then(response => {
            this.userAim = response.data;

            //generates the users personal data table
            setTimeout(this.generateTable(), 10);
          }).catch(error => {
            console.error(error);
          });
        }
      },

      /**
       * If the user is in the 'login with active schedule' this method will generate a progress bar
       * showing the progress of the user's assigned schedule.
       */
      generateProgress() {
        let url = config.url + 'schedules/' + this.scheduleId + '/getProgress';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + this.code
          }
        }).then(response => {
          console.log(response);
          this.counter = parseInt(response.data.currentUnit);
          this.max = parseInt(response.data.maxUnit);
        }).catch(error => {
          console.log(error);
        });
      },

      callExperienceDescription() {
        setTimeout(this.getExperienceDescription, 10);
      },

      /**
       * Calls and displays the description of the user's selected experience, when asked to enter
       * an experience level.
       */
      getExperienceDescription() {
        this.experienceDescription = '';
        console.log('selected: ' + this.form.selectedExperience);
        let url = config.url + 'experiences/' + this.form.selectedExperience + '/getDescription';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + this.code
          }
        }).then(response => {
          this.experienceDescription = response.data;
        }).catch(error => {
          console.error(error);
        });
      },

      callAimDescription() {
        setTimeout(this.getAimDescription, 10);
      },

      /**
       * Calls and displays the description of the user's selected aim, when asked to enter
       * an aim.
       */
      getAimDescription() {
        this.aimDescription = '';
        let url = config.url + 'aims/' + this.form.selectedAim + '/getDescription';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + this.code
          }
        }).then(response => {
          this.aimDescription = response.data;
        }).catch(error => {
          console.error(error);
        });
      },

      callNewPlan() {
        setTimeout(this.getNewPlan, 10);
      },


      /**
       * When in state 'login without active schedule' the user will be asked to select
       * a new aim being send vie this method.
       */
      getNewPlan() {
        let url = config.url + 'users/selectedAim';
        let zim = atob(this.code);
        zim = zim.split(':')[0];
        let json = {
          zim: zim,
          aimId: this.form.selectedAim
        };
        axios.put(url, json, {
          headers: {
            Authorization: 'Basic ' + this.code
          }
        }).then(response => {
          this.scheduleId = response.data;
          this.hasSchedule = true;
          this.hasScheduleAndAim = true;
          this.$router.push(training);
        }).catch(error => {
          console.error(error);
        })
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              this.resetUserData();
              document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
              this.$router.push(login);
            }
          }).catch(e => {
          console.log(e);

        });
      },
    }
  }
</script>

<style scoped>
  #menu-bar {
    background-color: rgb(108, 117, 125);
    margin-top: 5px;
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

  h5 {
    text-align: center;
    margin-left: 15px;
  }
</style>
