<template>
  <div>
    <b-row style="height: 15px"></b-row>
    <b-row id="menu-bar" style="margin-top: 5px">
      <b-col id="left-col" cols="8">
        <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
          <b-dropdown-item>
            <router-link to="Dashboard">Profil</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Settings">Einstellungen</router-link>
          </b-dropdown-item>
        </b-dropdown>
        <b-dropdown id="admin" text="Administration" class="m-md-2" v-if="isTrainer">
          <b-dropdown-item>
            <router-link to="Admin">Übersicht</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Users">Nutzerverwaltung</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Exercise">Übungen</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Targets">Trainingsziele</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Experience">Erfahrungsgrade</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Trainingsplan">Trainingspläne</router-link>
          </b-dropdown-item>
        </b-dropdown>
      </b-col>
      <b-col id="right-col" cols="4">
        <b-button v-on:click="logout()" id="link-right">logout</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="1"/>
      <b-col cols="10">
        <b-row>
          <router-link to="Settings" style="margin-top: 15px; width: 100%">
            <b-button size="lg" variant="outline-secondary" style="width: 100%; text-align: center">zurück
              zur Übersicht
            </b-button>
          </router-link>
        </b-row>
        <b-row style="margin-top: 50px">
          <b-form-group label="Körpergröße in cm" style="width: 100%">
            <b-form-input v-model="form.height"></b-form-input>
          </b-form-group>
        </b-row>
        <b-row style="margin-top: 25px">
          <b-form-group label="Körpergewicht in kg" style="width: 100%">
            <b-form-input v-model="form.weight"></b-form-input>
          </b-form-group>
        </b-row>
        <b-row style="margin-top: 25px">
          <b-form-group label="Erfahrungsgrad" style="width: 100%">
            <b-form-select :options="experiences" v-model="form.selectedExperience">
              <template slot="first">
                <option :value="null" disabled>Erfahrungsgrad wählen</option>
              </template>
            </b-form-select>
          </b-form-group>
        </b-row>
        <b-row style="margin-top: 25px">
          <b-form-group label="Trainingsziel" style="width: 100%">
            <b-form-select :options="aims" v-model="form.selectedAim">
              <template slot="first">
                <option :value="null" disabled>Trainingsziel wählen</option>
              </template>
            </b-form-select>
          </b-form-group>
        </b-row>
        <b-row style="margin-top: 25px">
          <b-button v-on:click="saveUserData" size="lg" variant="success"
                    style="width: 100%; margin-top: 25px">
            Speichern
          </b-button>
        </b-row>
      </b-col>
      <b-col cols="1"/>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios';
  import store from '../store';
  import Login from './Login';
  import config from './GlobalConfig';

  export default {
    name: "Details",
    data() {
      return {
        form: {
          height: '',
          weight: '',
          selectedAim: null,
          selectedExperience: null,
        },
        isTrainer: false,
        show: false,
        aims: [],
        experiences: []
      }
    },

    mounted() {

      if (document.cookie === '') {
        this.$router.push(Login);
      } else {
        //receiving the user's status to show or hide admin area
        let code = document.cookie.split('=')[1];
        let id = atob(code);
        id = id.split(':')[0];
        let url = config.url + 'users/' + id + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          this.isTrainer = (response.data === "TRAINER");
        }).catch(error => {
          console.error(error);
        });
        this.getUser();
        this.generateAimMenu();
        this.generateExperienceMenu();
      }
    },

    methods: {

      getUser() {
        let code = document.cookie.split('=')[1];
        let zim = atob(code);
        zim = zim.split(':')[0];
        let url = config.url + 'users/' + zim + '/getUser';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          this.form.height = response.data.height;
          this.form.weight = response.data.weight;
          this.form.selectedAim = response.data.aimId;
          this.form.selectedExperience = response.data.experienceId;
        }).catch(error => {
          console.error(error);
        });
      },

      generateAimMenu() {
        let code = document.cookie.split('=')[1];
        let url = config.url + 'aims';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          this.aims = [];
          this.aims.length = response.data.length;
          for (let i = 0; i < (response.data).length; ++i) {
            this.aims[i] = {value: response.data[i].id, text: response.data[i].name};
          }
        }).catch(error => {
          console.error(error);
        });
      },

      generateExperienceMenu() {
        let code = document.cookie.split('=')[1];
        let url = config.url + 'experiences';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          this.experiences = [];
          this.experiences.length = response.data.length;
          for (let i = 0; i < (response.data).length; ++i) {
            this.experiences[i] = {value: response.data[i].id, text: response.data[i].name};
          }
        }).catch(error => {
          console.error(error);
        });
      },

      saveUserData() {
        let code = document.cookie.split('=')[1];
        let zim = atob(code);
        zim = zim.split(':')[0];
        let user = {
          zim: zim,
          height: this.form.height,
          weight: this.form.weight,
          aimId: this.form.selectedAim,
          experienceId: this.form.selectedExperience
        };
        let url = config.url + 'users/changePersonalData';
        axios.put(url, user, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          if (response.status === 200) {
            alert("Daten erfolgreich gespeichert");
          }
        }).catch(error => {
          console.error(error);
        });
      },

      resetUserData() {
        store.commit('resetUserData');
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              this.resetUserData();
              document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
              this.$router.push(Login);
            }
          }).catch(e => {
          console.log(e);

        });
      },
    }
  }
</script>

<style scoped>
  #menu-bar {
    background-color: rgb(108, 117, 125);
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }
</style>
