<template>
  <div v-if="isTrainer">
    <b-row>
      <b-col cols="1"/>
      <b-col cols="10">
        <b-row id="menu-bar">
          <b-col id="left-col" cols="10">
            <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Dashboard">Profil</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Settings">Einstellungen</router-link>
              </b-dropdown-item>
            </b-dropdown>
            <b-dropdown id="admin" text="Administration" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Admin">Übersicht</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Users">Nutzerverwaltung</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Exercise">Übungen</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Targets">Trainingsziele</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Experience">Erfahrungsgrade</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Trainingsplan">Trainingspläne</router-link>
              </b-dropdown-item>
            </b-dropdown>
          </b-col>
          <b-col id="right-col" cols="2">
            <b-button v-on:click="logout()" id="link-right">logout</b-button>
          </b-col>
        </b-row>
        <b-row>
          <b-alert show variant="light">
            Übersicht der Übungen
          </b-alert>
          <div class="exerciseTable">
            <div class="loading" v-if="loading">
              Loading...
            </div>
            <div v-if="error" class="error">
              {{ error }}
            </div>
            <vue-virtual-table
              id="exercise"
              :config="tableConfig"
              :data="tableData"
              language="en"
              v-on:changeSelection="handleSelectionChange">
              <template slot-scope="scope" slot="actionCommon">
                <button v-on:click="info(scope.index)">Info/Edit</button>
              </template>
            </vue-virtual-table>
            <b-modal
              v-model="show"
              id="exerciseModal"
              title="Übung bearbeiten"
              centered
              ok-variant="success"
              ok-title="Speichern"
              @ok="changeExercise(form.name)"
              cancel-variant="danger"
              cancel-title="Löschen"
              @cancel="deleteExercise">
              <b-container fluid>
                <b-row>
                  <b-col cols="6">
                    <b-form-group label="Name">
                      <b-form-input required
                                    v-model="form.name">
                      </b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col cols="6">
                    <b-form-group label="Alternativübungen">
                      <b-form-select multiple
                                     :select-size="5"
                                     v-model="form.alternativeIds"
                                     :options="options">
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <b-form-group label="Beschreibung">
                      <b-form-textarea v-model="form.description">
                      </b-form-textarea>
                    </b-form-group>
                    <b-form-group label="YouTube Link">
                      <b-form-input type="url" v-model="form.yt"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col cols="6">
                    <b-form-group label="Ausführungen">
                      <b-button id="addButton" size="sm" variant="success"
                                v-on:click="addExecution()">Hinzufügen
                      </b-button>
                      <div v-for="(executions, index) in form.executions">
                        <b-form-group style="margin-top: -5px">
                          <b-form-input class="form" type="text"
                                        v-model="form.executions[index]">
                          </b-form-input>
                          <b-button size="sm" variant="danger"
                                    v-on:click="deleteExecution(index)">Löschen
                          </b-button>
                        </b-form-group>
                      </div>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-container>
            </b-modal>
            <router-link id="addExercise" to="addExercise">
              <b-button>neue Übung erstellen</b-button>
            </router-link>
          </div>
        </b-row>
      </b-col>
      <b-col cols="1"/>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios';
  import login from './Login';
  import dashboard from './Dashboard';
  import store from '../store';
  import VueVirtualTable from 'vue-virtual-table';
  import Vue from 'vue';
  import config from './GlobalConfig';

  export default {
    components: {
      VueVirtualTable
    },
    name: "Exercise",
    data() {
      return {
        loading: false,
        error: null,
        userExercises: null,
        options: [],
        tableConfig: [
          {prop: 'id', name: "ID"},
          {prop: 'name', name: "Name", searchable: true},
          {prop: 'editor', name: "zuletzt editiert"},
          {prop: '_action', name: ' ', actionName: 'actionCommon'}
        ],
        tableData: [],
        show: false,
        form: {
          id: '',
          name: '',
          description: '',
          yt: '',
          alternativeIds: [],
          executions: []
        },
        isTrainer: false,
      }
    },

    /**
     * This method checks the user being logged in via the cookie and
     * verifies at the server that the user is a trainer.
     * Users not logged in will be pushed to the login. Trainers will
     * remain on the this page, all others will be pushed into the
     * 'Dashboard'.
     */
    mounted() {
      if (document.cookie === '') {
        this.$router.push(login);
      } else {

        //verify the User is logged in and verified trainer
        let code = document.cookie.split('=')[1];
        let zim = atob(code);
        zim = zim.split(':')[0];
        let url = config.url + 'users/' + zim + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          if (response.data === "TRAINER") {
            this.isTrainer = true;
            this.created();
          } else {
            this.$router.push(dashboard);
          }
        })
      }
    },

    created() {
      this.getExercisesFromServer();
    },

    watch: {
      '$route': 'getExercisesFromServer'
    },

    computed: {
      userId() {
        return store.getters.userId;
      },

      userPassword() {
        return store.getters.userPassword;
      },

      exercises() {
        return store.getters.exercises;
      }

    },

    methods: {

      deleteExecution(index) {
        Vue.set(this.form.executions, index, null);
        this.form.executions.splice(index, 1);
      },

      addExecution() {
        Vue.set(this.form.executions, this.form.executions.length, null);

      },

      createAlternativeExerciseDropdown(exercises) {
        if (this.options.length > 0) {
          this.options = [];
        }
        this.options.length = exercises.length + 1;
        this.options[0] = {value: 1, text: 'Keine Alternativübung'};
        for (let i = 0; i < exercises.length; i++) {
          this.options[i + 1] = {value: exercises[i].id, text: exercises[i].name};
        }
      },

      handleSelectionChange(rows) {
        console.log(rows);
      },

      saveExercises(exercises) {
        store.commit('saveExercises', exercises);
      },

      validateInput(name) {
        if (name === '') {
          alert("Bitte geben Sie der Übung einen Namen!");
          return false;
        } else if (this.form.alternativeIds.includes(1) && this.form.alternativeIds.length > 1) {
          alert('Es wurden Alternativübungen ausgewählt, obwohl "Keine Alternativübungen" ausgewählt wurde.');
          return false;
        } else {
          return true;
        }
      },

      /**
       * Sends a request to the server to update the database with the
       * exercise appended to the request.
       */
      changeExercise(name) {
        if (this.validateInput(name)) {
          if (this.form.alternativeIds[0] === 1) {
            this.form.alternativeIds = [1];
          }
          if (this.form.yt !== '') {
            this.form.yt = this.convertUrl(this.form.yt);
          }
          let exercise = {
            id: this.form.id,
            name: this.form.name,
            description: this.form.description,
            videoURL: this.form.yt,
            executions: this.form.executions,
            alternativeIds: this.form.alternativeIds
          };
          let code = document.cookie.split('=')[1];
          let url = config.url + 'exercises/update';
          axios.put(url, exercise, {
            headers: {
              Authorization: 'Basic ' + code,
            }
          }).then(response => {
            if (response.status === 200) {
              alert("Die Daten wurden erfolgreich gespeichert!");
              this.getExercisesFromServer();
            }
          }).catch(error => {
            console.log(error);
          })
        }
      },

      /**
       * Converts most known youtube video urls into youtube-accepted
       * embed video urls. If an url can not be convert an alert will inform
       * the user about its wrong input
       */
      convertUrl(videoURL) {
        if (videoURL != null) {
          if (videoURL.includes("watch?v=")) {
            videoURL = videoURL.split('=')[1];
            return 'https://www.youtube.com/embed/' + videoURL;
          } else if (videoURL.includes("https://youtu.be/")) {
            videoURL = videoURL.split('/')[3];
            return 'https://www.youtube.com/embed/' + videoURL;
          } else if (videoURL.includes("youtu.be")) {
            videoURL = videoURL.split('/')[1];
            return 'https://www.youtube.com/embed/' + videoURL;
          } else if (videoURL.includes("https://youtube.com/embed")) {
            videoURL = videoURL.split('/')[4];
            return 'https://www.youtube.com/embed/' + videoURL;
          } else if (videoURL.includes("youtube.com/embed")) {
            videoURL = videoURL.split('/')[2];
            return 'https://www.youtube.com/embed/' + videoURL;
          } else {
            alert('Die Youtube URL konnte nicht konvertiert werden. Es werden nur ' +
              'URLs des Formats "www.youtube.com/watch?v=", "youtu.be/" und ' +
              '"youtube.com/embed/" akzeptiert.');
            return null;
          }
        } else {
          this.form.yt = '';
        }
      },

      /**
       * Removes an exercise from the table and send a request to the server
       * asking to delete the selected exercise from the database.
       */
      deleteExercise() {
        let id = this.form.id;
        let code = document.cookie.split('=')[1];
        let url = config.url + 'exercises/delete/' + id;
        axios.delete(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        }).then(response => {
          if (response.status === 200) {
            alert('Die Übung wurde gelöscht!');
            this.getExercisesFromServer();
          }
        }).catch(error => {
          console.log(error);
        })
      },

      /**
       * Receives all Exercises from the server.
       */
      getExercisesFromServer() {
        this.error = null;
        this.loading = true;
        let code = document.cookie.split('=')[1];
        let url = config.url + 'exercises';
        return axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            this.loading = false;
            if (response.status === 200) {
              this.tableData = response.data;
              this.saveExercises(response.data);
              this.createAlternativeExerciseDropdown(this.exercises);

            }
          }).catch(e => {
            console.log(e);
            this.loading = false;
            if (e.response.status === 401) {
              this.error = 'Sie sind nicht Angemeldet!';
            } else {
              this.error = e.toString();
            }
          });
      },

      resetUserData() {
        store.commit('resetUserData');
      },

      /**
       * Updates the global scopeIndex with the pressed buttons position and uses these information to
       * determine the correct sequence for the select tag inside the popup window allowing moderators to
       * change the selected exercise.
       *
       * @param index Index position of the button pressed.
       */
      info(index) {
        this.index = index;
        this.i = 0;
        this.form.id = this.tableData[index].id;
        this.form.name = this.tableData[index].name;
        this.form.description = this.tableData[index].description;
        this.form.yt = this.tableData[index].videoURL;
        this.createAlternativeExerciseDropdown(this.exercises);
        this.form.alternativeIds = this.tableData[index].alternativeIds;
        this.form.executions = this.tableData[index].executions;
        this.show = true;
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              this.resetUserData();
              document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
              this.$router.push(login);
            }
          }).catch(e => {
          console.log(e);

        });
      },
    }
  }

</script>

<style scoped>
  #menu-bar {
    background-color: rgb(108, 117, 125);
    margin-top: 5px
  }

  #addButton {
    margin-top: -8px;
    margin-bottom: +15px;
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

  #addExercise {
    margin-top: 15px;
    width: 100%
  }

  b-alert {
    margin-top: 5px;
    width: 100%;
  }

  vue-virtual-table {
    width: 100%;
  }
</style>
