<template>
  <div v-if="isTrainer">
    <b-row>
      <b-col cols="1"/>
      <b-col cols="10">
        <b-row id="menu-bar">
          <b-col id="left-col" cols="10">
            <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Dashboard">Profil</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Settings">Einstellungen</router-link>
              </b-dropdown-item>
            </b-dropdown>
            <b-dropdown id="admin" text="Administration" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Admin">Übersicht</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Users">Nutzerverwaltung</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Exercise">Übungen</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Targets">Trainingsziele</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Experience">Erfahrungsgrade</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Trainingsplan">Trainingspläne</router-link>
              </b-dropdown-item>
            </b-dropdown>
          </b-col>
          <b-col id="right-col" cols="2">
            <b-button v-on:click="logout()" id="link-right">logout</b-button>
          </b-col>
        </b-row>
        <b-row id="overview">
          <b-alert show variant="light">Übersicht der
            Erfahrungsgrade
          </b-alert>
          <div class="experienceTable">
            <vue-virtual-table
              id="experience"
              :config="tableConfig"
              :data="tableData"
              :selectable="true"
              language="en"
              v-on:changeSelection="handleSelectionChange">
              <template slot-scope="scope" slot="actionCommon">
                <button @click="info(scope.index)">Info/Edit</button>
              </template>
            </vue-virtual-table>
            <router-link to="addExperience">
              <b-button>neuen Erfahrungsgrad hinzufügen</b-button>
            </router-link>
            <b-modal
              v-model="show"
              id="experienceModal"
              title="Erfahrungsgrad"
              centered=true
              ok-variant="success"
              ok-title="Speichern"
              @ok="validateNewInput"
              cancel-variant="danger"
              cancel-title="Löschen"
              @cancel="deleteExperience">
              <b-container fluid>
                <b-row class="mb-1 text-center">
                  <b-form-group label="Name">
                    <b-form-input v-model="form.name" required></b-form-input>
                  </b-form-group>
                </b-row>
                <b-row>
                  <b-form-group label="Beschreibung">
                    <b-form-textarea v-model="form.description"></b-form-textarea>
                  </b-form-group>
                </b-row>
              </b-container>
            </b-modal>
          </div>
        </b-row>
      </b-col>
      <b-col cols="1"/>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios'
  import store from '../store'
  import login from './Login';
  import dashboard from './Dashboard';
  import VueVirtualTable from 'vue-virtual-table'
  import config from './GlobalConfig';

  export default {
    name: "Experience",
    components: {
      VueVirtualTable
    },
    data() {
      return {
        form: {
          name: '',
          description: ''
        },
        tableConfig: [
          {prop: 'name', name: "Name", searchable: true},
          {prop: 'editor', name: "zuletzt editiert"},
          {prop: '_action', name: ' ', actionName: 'actionCommon'}
        ],
        tableData: [],
        data: [],
        show: false,
        index: 0,
        isTrainer: false,
      }
    },

    /**
     * This method checks the user being logged in via the cookie and
     * verifies at the server that the user is a trainer.
     * Users not logged in will be pushed to the login. Trainers will
     * remain on the this page, all others will be pushed into the
     * 'Dashboard'.
     */
    mounted() {
      if (document.cookie === '') {
        this.$router.push(login);
      } else {

        //verify the User is logged in and verified trainer
        let code = document.cookie.split('=')[1];
        let zim = atob(code);
        zim = zim.split(':')[0];
        let url = config.url + 'users/' + zim + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          if (response.data === "TRAINER") {
            this.isTrainer = true;
            this.getExperiences();
          } else {
            this.$router.push(dashboard);
          }
        })
      }
    },

    methods: {

      /**
       * Receives all experiences from the server.
       */
      getExperiences() {
        let url = config.url + "experiences";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        // Receiving all Experience objects saved in the database
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        }).then(response => {
          console.log(response);
          this.tableData = response.data;
          this.data = response.data
        }).catch(error => {
          console.error(error);
        })
      },

      info(index) {
        this.index = index;
        this.form.name = this.tableData[index].name;
        this.form.description = this.tableData[index].description;
        this.show = true;
      },

      /**
       * Validates the trainers updated experience input and, once validated successfully,
       * sends those data to the server saving them into the database.
       */
      validateNewInput() {
        if (this.form.description.length > 200) {
          alert("Ihre Beschreibung ist mit " + this.form.description.length + " Zeichen, länger als die maximal" +
            " erlaubten 200 Zeichen.")
        } else {
          let index = this.index;
          let name = this.form.name;
          let description = this.form.description;
          let experience = {
            id: this.data[this.index].id,
            name: name,
            description: description
          };
          let url = config.url + "experiences";
          let code = document.cookie;
          let authCode = code.split('=');
          code = authCode[1];
          axios.put(url, experience, {
            headers: {
              Authorization: 'Basic ' + code,
            }
          }).then(response => {
            console.log(response);
            this.tableData[index].name = name;
            this.tableData[index].description = description;
            this.data[index].name = name;
            this.data[index].description = description;
            this.form.description = '';
            this.form.name = '';
          }).catch(error => {
            console.error(error);
            alert("Änderungen konnten am Server nicht gespeichert werden.")
          });
        }
      },

      /**
       * Removes an experience from the list and sends a request to the server
       * asking to delete the selected experience from the database.
       */
      deleteExperience() {
        let id = this.data[this.index].id;
        let url = config.url + "experiences/delete/" + id;
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        }).then(response => {
          console.log(response);
          this.tableData.splice(this.index, 1);
          this.data.splice(this.index, 1);
        }).catch(error => {
          console.error(error);
          alert("Erfahrungsgrad konnte nicht aus der Datenbank gelöscht werden.")
        })
      },

      resetUserData() {
        store.commit('resetUserData');
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              this.resetUserData();
              document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
              this.$router.push(login);
            }
          }).catch(e => {
          console.log(e);

        });
      },
    }
  }
</script>

<style scoped>
  #menu-bar {
    background-color: rgb(108, 117, 125);
    margin-top: 5px;
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

  b-alert {
    margin-top: 5px;
    width: 100%;
    text-align: center
  }
</style>
