<template>
</template>

<script>

  export default {
    name: "GlobalConfig",
    url:'https://localhost:8443/',
    //url:'https://epws18.padim.fim.uni-passau.de/team3',
  }
</script>

<style scoped>

</style>
