<template>
  <div id="login">
    <b-container>
      <b-row style="height:200px"></b-row>
      <b-row>
        <b-col style="width: 300px"></b-col>
        <b-col>
          <div>
            <h5 style="text-align: center">Login</h5>
            <b-form>
              <b-form-input id="identityInput" type="text" v-model="form.id" required
                            placeholder="ZIM-Kennung"></b-form-input>
              <b-form-input id="passwordInput" type="password" v-model="form.password" required
                            placeholder="Passwort"></b-form-input>
            </b-form>
            <b-row>
              <b-col style="text-align: center">
                <router-link to="Register">Registrieren</router-link>
                <br>
                <!--router-link to="">
                    <b-button variant="link" v-on:click="notAvailable">Passwort vergessen?</b-button>
                </router-link-->
              </b-col>
              <b-col>
                <b-button v-on:click="validateInput(form.id, form.password)"
                          v-bind:id="form.id" v-bind:password="form.password"
                          style="margin-top: 10px; background-color: dodgerblue; width: 150px">Login
                </b-button>
              </b-col>
            </b-row>
          </div>
        </b-col>
        <b-col></b-col>
      </b-row>
      <b-row>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import axios from 'axios'
  import Dashboard from './Dashboard'
  import Admin from './Admin';
  import store from '../store';
  import config from './GlobalConfig';

  export default {
    name: "Login",
    data() {
      return {
        form: {
          id: '',
          password: ''
        },
        show: true
      }
    },

    methods: {

      saveUser(id, password) {
        store.commit('saveId', id);
        store.commit('savePassword', password);
      },

      /**
       * This method sends the login data of the user to the Server
       * and redirects him to his dashboard.
       */
      sendUserData(id, password) {
        let code = btoa(id.concat(":", password));
        let url = config.url + "users/" + id + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              this.login(id, password, code, response.data);
            } else {
              alert("Wrong password or zim!");
            }
          })
          .catch(e => {
            console.log(e);
            if (e.response.status === 401) {
              alert("Wrong ZIM or password!");
            }
          });
      },

      /**
       * If the user is registered and verified (user's status is not 'UNKNOWN') the user
       * will be granted access to the system.
       */
      login(id, password, code, userStatus) {
        let status;
        let url = config.url + "login";
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              if (userStatus === 'USER') {
                document.cookie = 'Auth=' + code;
                this.saveUser(id, password);
                this.$router.push(Dashboard);
              } else if (userStatus === 'TRAINER') {
                document.cookie = 'Auth=' + code;
                this.saveUser(id, password);
                this.$router.push(Admin);
              } else {
                alert("Your account is not verified!");
              }
            }
          })
          .catch(e => {
            console.log(e);
            status = false;
          });
      },

      /**
       * Verifies the minimum and maximum length of the user's ID. The maximum length is eight characters.
       */
      isValidID: function (id) {
        if (id.length >= 1) {
          return id.length <= 8;
        } else {
          return false;
        }
      },

      notAvailable() {
        alert("The feature you are looking for has not yet been implemented =(")
      },

      /**
       * Verifies the password has a minimum of eight characters.
       */
      isValidPassword: function (password) {
        if (password.length >= 8) {
          return true;
        } else {
          alert("password is too short.");
          return false;
        }
      },

      /**
       * This method checks, with the help of other methods,
       * if the parameters entered by the user are valid for registration.
       */
      validateInput: function (id, password) {
        if (this.isValidID(id)) {
          if (this.isValidPassword(password)) {
            this.sendUserData(id, password);
            return true;
          } else {
            return false;
          }
        } else {
          alert("id is too long!");
          return false;
        }
      }

    }
  }
</script>

<style scoped>

</style>
