<template>
  <b-row>
    <b-col cols="5"></b-col>
    <b-col cols="2">
      <div style="margin-top: 150px">
        <h5 style="text-align: center">Registrierung</h5>
        <b-form>
          <b-form-input class="form" id="name" type="text" v-model="form.preName" required
                        placeholder="Vorname"></b-form-input>
          <b-form-input class="form" id="id" type="text" v-model="form.id" required
                        placeholder="ZIM-Kennung"></b-form-input>
          <b-form-input class="form" id="birthDate" type="date" v-model="form.birthDate" required
                        placeholder="Geburtsdatum"></b-form-input>
          <b-form-input class="form" id="password" type="password" v-model="form.password" required
                        placeholder="Password"></b-form-input>
          <b-form-input class="form" id="confirmPassword" type="password" v-model="form.confirmPassword"
                        required placeholder="Password bestätigen"></b-form-input>
        </b-form>
      </div>
      <b-button
        v-on:click="validateInput(form.password, form.confirmPassword, form.id, form.birthDate, form.preName)"
        style="background-color: dodgerblue;margin-left: 30%; margin-top: 10px">
        Registrieren
      </b-button>
      <div class="verificationText">
        <p v-show="seen" v-on:click="directToLogin()">Sie sind nun registriert!<br>
          Bitte verifizieren Sie sich mit Ihrer studentischen E-mail:
          <a href="http://www.zim.uni-passau.de/dienstleistungen/telefonie-und-e-mail/e-mail/">
            E-mail-Service der Universität Passau</a></p>
      </div>
    </b-col>
    <b-col cols="5"></b-col>
  </b-row>
</template>

<script>
  import axios from 'axios'
  import Login from '../components/Login'
  import config from './GlobalConfig';

  export default {
    name: "Register",
    data() {
      return {
        form: {
          id: '',
          preName: '',
          birthDate: '',
          password: '',
          confirmPassword: ''
        },
        seen: false,
        show: true
      }
    },

    methods: {

      showText: function () {
        this.seen = true;
      },

      directToLogin: function () {
        this.$router.push(Login);
      },

      /**
       * This method sends the http request to the server. The user is
       * delivered in form of a JSON-object. If the request is successful
       * the user will get a message to verify him self.
       */
      sendUserData: function (id, preName, password, birthDate) {
        let user = {
          zim: id,
          name: preName,
          password: password,
          dayOfBirth: parseInt(this.getBirthDay(birthDate), 10),
          monthOfBirth: parseInt(this.getBirthMonth(birthDate), 10),
          yearOfBirth: parseInt(this.getBirthYear(birthDate), 10)
        };
        let url = config.url + "users";
        axios.post(url, user)
          .then((response) => {
            if (response.status === 200) {
              this.showText();
            }
          }).catch(e => {
          console.log(e);
        });
      },

      getBirthYear: function (birthDate) {
        let year = '';
        for (let i = 0; i < 4; ++i) {
          year = year + birthDate.charAt(i);
        }
        return year;
      },

      getBirthMonth: function (birthDate) {
        let month = '';
        for (let i = 5; i < 7; ++i) {
          month = month + birthDate.charAt(i);
        }
        return month;
      },

      getBirthDay: function (birthDate) {
        let day = '';
        for (let i = 8; i < 10; ++i) {
          day = day + birthDate.charAt(i);
        }
        return day;
      },

      isValidID: function (id) {
        if (id.length >= 1) {
          return id.length <= 8;
        } else {
          return false;
        }
      },

      /**
       * This method checks if the user is over 16 years old.
       */
      isValidBirthDate: function (birthDate) {
        let date = new Date();
        let tempYear = parseInt(this.getBirthYear(birthDate), 10);
        tempYear += 16;
        if (tempYear < date.getFullYear()) {
          return true;
        } else if (tempYear === date.getFullYear()) {
          if (this.getBirthMonth(birthDate) <= (date.getMonth() + 1)) {
            if (this.getBirthDay(birthDate) <= (date.getDate())) {
              return true;
            }
          }
        }
        return false;
      },

      /**
       * This method checks if the password entered by the user isn't less than
       * 8 characters long. If the password is equal to the confirmation
       * password(has to be equal).
       * And if the password isn't equal to the entered id.
       */
      isValidPasswords: function (password, confirmPassword, id) {
        if (password.length >= 8) {
          if (password === confirmPassword) {
            if (password !== id) {
              return true;
            } else {
              alert("password and ZIM-Kennung shouldn't be equal.");
            }
          } else {
            alert("passwords are not equal.");
          }
        } else {
          alert("password is too short.")
        }
        return false;
      },

      /**
       * This method checks, with the help of other methods,
       * if the parameters entered by the user are valid for registration.
       */
      validateInput: function (password, confirmPassword, id, birthDate, preName) {
        if (this.isValidPasswords(password, confirmPassword, id)) {
          if (this.isValidID(id)) {
            if (this.isValidBirthDate(birthDate)) {
              this.sendUserData(id, preName, password, birthDate);
              return true;
            } else {
              alert("You are too young.");
              return false;
            }
          } else {
            alert("Invalid ZIM-Kennung.");
            return false;
          }
        } else {
          return false;
        }
      },
    }
  }

</script>

<style scoped>
  .form {
    margin-top: 10px;
  }

  .verificationText {
    margin-top: 5px;
  }
</style>
