<template>
  <div>
    <b-row style="height: 15px"></b-row>
    <b-row id="menu-bar" style="margin-top: 5px">
      <b-col id="left-col" cols="8">
        <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
          <b-dropdown-item>
            <router-link to="Dashboard">Profil</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Settings">Einstellungen</router-link>
          </b-dropdown-item>
        </b-dropdown>
        <b-dropdown id="admin" text="Administration" class="m-md-2" v-if="isTrainer">
          <b-dropdown-item>
            <router-link to="Admin">Übersicht</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Users">Nutzerverwaltung</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Exercise">Übungen</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Targets">Trainingsziele</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Experience">Erfahrungsgrade</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Trainingsplan">Trainingspläne</router-link>
          </b-dropdown-item>
        </b-dropdown>
      </b-col>
      <b-col id="right-col" cols="4">
        <b-button v-on:click="logout()" id="link-right">logout</b-button>
      </b-col>
    </b-row>
    <b-row>
      <router-link to="Details" style="margin-top: 50px; width: 100%">
        <b-button size="lg" variant="outline-secondary" style="width: 100%">
          persönliche Daten ändern
        </b-button>
      </router-link>
    </b-row>
    <b-row>
      <router-link to="Password" style="margin-top: 50px; width: 100%">
        <b-button size="lg" variant="outline-secondary" style="width: 100%">
          Passwort ändern
        </b-button>
      </router-link>
    </b-row>
    <b-row>
      <b-button v-on:click="showConfirmationModal" size="lg" variant="outline-secondary"
                style="margin-top: 50px; width: 100%">
        Account deaktivieren
      </b-button>
      <b-modal v-model="show"
               id="deactivate"
               title="Account deaktivieren"
               ok-variant="danger"
               ok-title="deaktivieren"
               cancel-variant="success"
               cancel-title="abbrechen"
               @ok="deactivateAccount">
        <p>
          Sind Sie sicher, dass Sie Ihren Account deaktivieren wollen?
          <br>
          Sie können Ihren Account jederzeit von einem Trainer wieder reaktivieren lassen.
        </p>
      </b-modal>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios';
  import store from '../store';
  import Login from './Login';
  import config from './GlobalConfig';

  export default {
    name: "Settings",
    data() {
      return {
        isTrainer: false,
        show: false,
      }
    },

    mounted() {

      if (document.cookie === '') {
        this.$router.push(Login);
      } else {
        //receiving the user's status to show or hide admin area
        let code = document.cookie.split('=')[1];
        let id = atob(code);
        id = id.split(':')[0];
        let url = config.url + 'users/' + id + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          this.isTrainer = (response.data === "TRAINER");
        }).catch(error => {
          console.error(error);
        });
      }
    },

    methods: {

      showConfirmationModal() {
        this.show = true;
      },

      deactivateAccount() {
        let code = document.cookie.split('=')[1];
        let url = config.url + 'users/blockUser';
        let zim = atob(code);
        zim = zim.split(':')[0];
        axios.put(url, zim, {
          headers: {
            Authorization: 'Basic ' + code,
            'Content-Type': 'text/plain'
          }
        }).then(response => {
          if (response.status === 200) {
            alert("Account deaktiviert!");
            document.cookie = '';
            this.$router.push(Login);
          }
        }).catch(error => {
          console.error(error);
        });
      },

      resetUserData() {
        store.commit('resetUserData');
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              this.resetUserData();
              document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
              this.$router.push(Login);
            }
          }).catch(e => {
          console.log(e);

        });
      },
    }
  }
</script>

<style scoped>
  #menu-bar {
    background-color: rgb(108, 117, 125);
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

</style>
