<template>
  <div v-if="isTrainer">
    <b-row>
      <b-col cols="1"/>
      <b-col cols="10">
        <b-row id="menu-bar">
          <b-col id="left-col" cols="10">
            <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Dashboard">Profil</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Settings">Einstellungen</router-link>
              </b-dropdown-item>
            </b-dropdown>
            <b-dropdown id="admin" text="Administration" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Admin">Übersicht</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Users">Nutzerverwaltung</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Exercise">Übungen</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Targets">Trainingsziele</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Experience">Erfahrungsgrade</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Trainingsplan">Trainingspläne</router-link>
              </b-dropdown-item>
            </b-dropdown>
          </b-col>
          <b-col id="right-col" cols="2">
            <b-button v-on:click="logout()" id="link-right">logout</b-button>
          </b-col>
        </b-row>
        <b-row>
          <b-alert show variant="light">Übersicht der Trainingsziele</b-alert>
          <div class="aimTable">
            <div class="loading" v-if="loading">
              Loading...
            </div>
            <div v-if="error" class="error">
              {{ error }}
            </div>
            <div v-if="targets" class="content">
              <b-col/>
              <b-col>
                <b-row>
                  <b-col>
                    <b-row>
                      <vue-virtual-table id="targets"
                                         :config="tableConfig"
                                         :data="tableData"
                                         v-on:changeSelection="handleSelectionChange">
                        <template slot-scope="scope" slot="actionCommon">
                          <button @click="info(scope.index)">Info/Edit</button>
                          <b-modal
                            v-model="show"
                            id="userModal"
                            title="Trainingsziele"
                            centered=true
                            ok-only=true
                            ok-variant="danger"
                            ok-title="Abbrechen">
                            <b-container fluid>
                              <b-col cols="6" style="text-align: left">
                                <b-row>
                                  <b-form-group label="Name">
                                    <b-form-input
                                      v-model="form.name"></b-form-input>
                                  </b-form-group>
                                </b-row>
                                <b-row>
                                  <b-form-group label="Beschreibung">
                                    <b-textarea
                                      v-model="form.description"></b-textarea>
                                  </b-form-group>
                                </b-row>
                                <b-row>
                                  <b-form-group label="weitere Informationen">
                                    <b-textarea
                                      v-model="form.furtherInformation"></b-textarea>
                                  </b-form-group>
                                </b-row>
                              </b-col>
                              <b-col>

                              </b-col>
                              <b-button variant="success" @click="validate">Speichern
                              </b-button>
                              <b-button variant="danger" @click="remove">Löschen
                              </b-button>
                            </b-container>
                          </b-modal>
                        </template>
                      </vue-virtual-table>
                    </b-row>
                    <b-row>
                      <router-link id="addTarget" to="addTarget">
                        <b-button variant="outline-secondary">neues Trainingsziel hinzufügen
                        </b-button>
                      </router-link>
                    </b-row>
                  </b-col>
                  <b-col/>
                  <!--b-table striped hover :items="targets"></b-table-->
                </b-row>
              </b-col>
            </div>
          </div>
        </b-row>
      </b-col>
      <b-col cols="1"/>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios';
  import login from './Login';
  import dashboard from './Dashboard';
  import store from '../store';
  import config from './GlobalConfig';

  import VueVirtualTable from 'vue-virtual-table'

  export default {
    name: "Exercise",
    components: {
      VueVirtualTable
    },

    data() {
      return {
        form: {
          name: '',
          description: '',
          furtherInformation: '',
        },
        loading: false,
        error: null,
        targets: null,
        tableConfig: [
          {prop: 'name', name: "Name"},
          {prop: 'editorZim', name: "zuletzt editiert"},
          {prop: '_action', name: ' ', actionName: 'actionCommon'}
        ],
        tableData: [],
        data: [],
        index: 0,
        show: false,
        isTrainer: false,
      }
    },

    /**
     * This method checks the user being logged in via the cookie and
     * verifies at the server that the user is a trainer.
     * Users not logged in will be pushed to the login. Trainers will
     * remain on the this page, all others will be pushed into the
     * 'Dashboard'.
     */
    mounted() {
      if (document.cookie === '') {
        this.$router.push(login);
      } else {

        //verify the User is logged in and verified trainer
        let code = document.cookie.split('=')[1];
        let zim = atob(code);
        zim = zim.split(':')[0];
        let url = config.url + 'users/' + zim + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          if (response.data === "TRAINER") {
            this.isTrainer = true;
            this.getAllAims();
          } else {
            this.$router.push(dashboard);
          }
        })
      }
      this.getAllAims();
    },

    created() {
      return this.getTargetsFromServer();
    },

    watch: {
      '$route': 'getTargetsFromServer'
    },

    computed: {
      userId() {
        return store.getters.userId;
      },

      userPassword() {
        return store.getters.userPassword;
      },

      aims() {
        return store.getters.aims;
      }
    },

    methods: {

      getAllAims() {
        let url = config.url + "aims";
        let code = document.cookie;
        let authCode = code.split('=');
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + authCode[1],
          }
        }).then(response => {
          console.log(response);
          this.tableData = response.data;
          this.data = response.data;
        }).catch(error => {
          console.error(error);
        })
      },


      /**
       * Displays the aim's 'VueVirtualTable' displayed to the trainer.
       */
      setTargetTable(data) {
        this.targets = [data.length];
        for (let i = 0; i < data.length; i++) {
          if (data[i].superAimId === 0) {
            this.targets[i] = {name: data[i].name, editorZim: data[i].editorZim};
          }
        }
      },

      saveAims(aims) {
        store.commit('saveAims', aims);
      },

      resetUserData() {
        store.commit('resetUserData');
      },

      /**
       * Receives all aims from the Server.
       */
      getTargetsFromServer() {
        this.error = this.targets = null;
        this.loading = true;
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        let url = config.url + "aims";
        return axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            this.loading = false;
            if (response.status === 200) {
              this.setTargetTable(response.data);
              this.saveAims(response.data);
            }
          }).catch(e => {
            console.log(e);
            this.loading = false;
            if (e.response.status === 401) {
              this.error = 'Sie sind nicht Angemeldet!';
            } else {
              this.error = e.toString();
            }
          });
      },

      /**
       * Fills and shows the modal with the aim's information.
       */
      info(index) {
        this.index = index;
        this.form.name = this.tableData[index].name;
        this.form.description = this.tableData[index].description;
        this.form.furtherInformation = this.tableData[index].furtherInformation;
        this.show = true;
      },

      /**
       * Validates the updated input and sends those changes to the
       * server saving the changes in the database.
       */
      validate() {
        let newTarget = {
          id: this.data[this.index].id,
          name: this.form.name,
          description: this.form.description,
          furtherInformation: this.form.furtherInformation,
        };
        let url = config.url + "aims/update";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.put(url, newTarget, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        }).then(response => {
            if (response.status === 200) {
              alert("Änderungen erfolgreich gespeichert.");
              this.show = true;
              location.reload();
            }
          }
        ).catch(error => {
          console.error(error);
          alert("Änderungen konnten nicht gespeichert werden!")
        })
      },

      /**
       * Removes a selected aim from the list and sends a request to
       * the server asking to delete the selected aim in the database.
       */
      remove() {
        let id = this.data[this.index].id;
        let url = config.url + "aims/delete/"+ id;
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.delete(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        }).then(response => {
          if (response.status === 200) {
            alert("Trainingsziel erfolgreich gelöscht.");
            this.tableData.splice(this.index);
            this.show = false;
          }
        }).catch(error => {
          console.error(error);
          alert("Das Trainingsziel konnte nicht gelöscht werden!");
        })
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              this.resetUserData();
              document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
              this.$router.push(login);
            }
          }).catch(e => {
          console.log(e);

        });
      },

    }
  }

</script>

<style scoped>
  #menu-bar {
    background-color: rgb(108, 117, 125);
    margin-top: 15px;
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

  #addTarget {
    margin-top: 15px;
    width: 100%
  }

  b-alert {
    margin-top: 5px;
    width: 100%;
  }

  vue-virtual-table {
    width: 100%;
  }
</style>
