<template>
  <div>
    <b-row style="height: 15px"></b-row>
    <b-row id="menu-bar" style="margin-top: 5px">
      <b-col id="left-col" cols="8">
        <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
          <b-dropdown-item>
            <router-link to="Dashboard">Profil</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Settings">Einstellungen</router-link>
          </b-dropdown-item>
        </b-dropdown>
        <b-dropdown id="admin" text="Administration" class="m-md-2" v-if="isTrainer">
          <b-dropdown-item>
            <router-link to="Admin">Übersicht</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Users">Nutzerverwaltung</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Exercise">Übungen</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Targets">Trainingsziele</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Experience">Erfahrungsgrade</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Trainingsplan">Trainingspläne</router-link>
          </b-dropdown-item>
        </b-dropdown>
      </b-col>
      <b-col id="right-col" cols="4">
        <b-button v-on:click="logout()" id="link-right">logout</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="1"/>
      <b-col cols="10">
        <b-alert show variant="secondary" style="width: 100%; text-align: center; margin-top: 10px">
          {{exercise.name}}
        </b-alert>
        <b-alert show variant="secondary" style="width: 100%; text-align: center">
          {{exercise.description}}
        </b-alert>
      </b-col>
      <b-col cols="1"/>
    </b-row>
    <b-row>
      <b-col cols="3"/>
      <b-col cols="6">
        <b-alert show variant="secondary" style="width: 100%; text-align: center">
          Satz {{set+1}} / {{wrapper[index].load[unit].length}}
        </b-alert>
      </b-col>
      <b-col cols="3"/>
    </b-row>
    <b-row>
      <b-col cols="1"/>
      <b-col cols="4">
        <b-button v-on:click="setDone()" style="width: 125px; text-align: center" variant="success">
          fertig!
        </b-button>
      </b-col>
      <b-modal v-model="show"
               id="done"
               title="Herzlichen Glückwunsch"
               ok-only
               centered
               ok-title="Speichern"
               ok-variant="success"
               @ok="submitData">
        <p>
          Du hast diesen Satz erfolgreich abgeschlossen. Bevor du in deine wohlverdiente Pause gehst, teile
          uns bitte
          mit wie viele Wiederholungen du geschafft hast.
        </p>
        <b-form-group description="geschaffte Wiederholungen">
          <b-form-input v-model="form.repetition" type="number" required></b-form-input>
        </b-form-group>
      </b-modal>
      <b-col cols="4">
        <b-button v-on:click="confirmAbort" style="width: 125px; text-align: center; margin-left: 25px"
                  variant="danger">
          abbrechen
        </b-button>
      </b-col>
      <b-col cols="1"/>
    </b-row>
    <b-row style="margin-top: 15px">
      <b-alert show variant="info" style="width: 100%; text-align: center">
        Tempo: {{wrapper[index].speed[unit]}}
      </b-alert>
      <b-alert show variant="info" style="width: 100%; text-align: center">
        Last: {{wrapper[index].load[unit][set]}}
      </b-alert>
    </b-row>
    <b-row>
      <b-col cols="1"/>
      <b-col cols="5">
        <b-button id="fifteen" v-on:click="startTimer(15)" style="width: 150px">
          +15 sec
        </b-button>
      </b-col>
      <b-col cols="5">
        <b-button id="thirty" v-on:click="startTimer(30)" style="width: 150px">
          +30 sec
        </b-button>
      </b-col>
      <b-col cols="1"/>
    </b-row>
    <b-row>
      <div id="timer">
        <b-col cols="3"/>
        <b-col cols="20">
          <b-card bg-variant="info" text-variant="white"
                  style="width: 350px; text-align: center; margin-left: 18px; margin-top: 5px">
            <h1> {{currentMinutes}} : {{currentSeconds}}</h1>
          </b-card>
        </b-col>
        <b-col cols="3"/>
      </div>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios';
  import store from '../store';
  import login from './Login';
  import dashboard from './Dashboard';
  import config from './GlobalConfig';
  import trainingStarten from './TrainingStarten';
  import trainingDone from './TrainingDone';

  export default {
    name: "Training",
    data() {
      return {
        form: {
          repetition: '',
        },
        isTrainer: false,
        exercise: null,
        wrapper: null,
        index: JSON.parse(window.localStorage.getItem('index')),
        set: JSON.parse(window.localStorage.getItem('set')),
        unit: JSON.parse(window.localStorage.getItem('unit')),
        show: false,
        //Timer
        secs: 0,
        currentSeconds: 0,
        currentMinutes: 0,
      }
    },

    mounted() {
      if (document.cookie === '') {

      } else {
        //receiving the user's status to show or hide admin area
        this.code = document.cookie.split('=')[1];
        let id = atob(this.code);
        id = id.split(':')[0];
        let url = config.url + 'users/' + id + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + this.code
          }
        }).then(response => {
          this.isTrainer = (response.data === "TRAINER");
        }).catch(error => {
          console.error(error);
        });
        this.getExercise();
      }
    },

    methods: {

      setDone() {
        this.show = true;
      },

      confirmAbort() {
        if (window.confirm('Möchten Sie Ihr Training wirklich abbrechen und zu einem späteren Zeitpunkt fortsetzen?')) {
          this.$router.push(dashboard);
        }
      },

      submitData() {
        let storage = window.localStorage;
        let repetition = storage.getItem('Repetition');
        let repetitionString = this.form.repetition + '/';
        if (repetition === null) {
          storage.setItem('Repetition', repetitionString);
        } else {
          repetitionString = repetition + repetitionString;
          storage.setItem('Repetition', repetitionString);
        }
        if (this.set + 1 < this.wrapper[this.index].load[this.unit].length) {
          storage.setItem('set', this.set + 1);
          this.$router.push(trainingStarten);
        } else {
          storage.setItem('set', 0);
          if (this.index + 1 < this.wrapper.length) {
            storage.setItem('index', this.index + 1);
            this.$router.push(trainingStarten);
          } else {
            this.$router.push(trainingDone);
          }
        }
      },

      getExercise() {
        let storage = window.localStorage;
        let exercises = storage.getItem('Exercises');
        this.exercise = JSON.parse(exercises)[this.index];
        this.wrapper = JSON.parse(window.localStorage.getItem('Wrapper'));
      },

      Decrement() {
        this.currentMinutes = Math.floor(this.secs / 60);
        this.currentSeconds = this.secs % 60;
        if (this.currentSeconds <= 9) this.currentSeconds = "0" + this.currentSeconds;
        this.secs--;
        if (this.secs !== -1) {
          setTimeout(this.Decrement, 1000);
        }
      },

      startTimer(secs) {
        this.secs += secs;
        this.Decrement();
      },

      resetUserData() {
        store.commit('resetUserData');
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              this.resetUserData();
              document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
              this.$router.push(login);
            }
          }).catch(e => {
          console.log(e);

        });
      },
    }
  }
</script>

<style scoped>
  #menu-bar {
    background-color: rgb(108, 117, 125);
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

</style>
