<template>
  <div>
    <b-row style="height: 15px"></b-row>
    <b-row id="menu-bar" style="margin-top: 5px">
      <b-col id="left-col" cols="8">
        <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
          <b-dropdown-item>
            <router-link to="Dashboard">Profil</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Settings">Einstellungen</router-link>
          </b-dropdown-item>
        </b-dropdown>
        <b-dropdown id="admin" text="Administration" class="m-md-2" v-if="isTrainer">
          <b-dropdown-item>
            <router-link to="Admin">Übersicht</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Users">Nutzerverwaltung</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Exercise">Übungen</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Targets">Trainingsziele</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Experience">Erfahrungsgrade</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Trainingsplan">Trainingspläne</router-link>
          </b-dropdown-item>
        </b-dropdown>
      </b-col>
      <b-col id="right-col" cols="4">
        <b-button v-on:click="logout()" id="link-right">logout</b-button>
      </b-col>
    </b-row>
    <!--<div v-if="firstUnit">
      <b-modal v-model="show"
               title="RM-Berechnung"
               centered
               ok-only
               ok-variant="success"
               ok-title="speichern"
               @ok="callRM">
        <p>
          Hallo, bevor du mit deinem Training beginnen kannst benötigen wir noch eine letzte Angabe. In deinem
          Trainingsplan ist aktuell noch eine Last von {{wrapper[index].load[unit][set]}}.
          <br>
          RM steht für "repetition maximum", also die maximale Anzahl an Wiederholungen die du mit einem bestimmten
          Gewicht schaffst.
          <br>
          <br>
          Bitte trage nachstehend das maximal Gewicht ein, mit dem du {{repetitions}} Wiederholungen schaffst. Es macht
          nichts, wenn du das Gewicht nicht auf anhieb findest.
        </p>
        <b-form-group description="repetition maximum in kg">
          <b-form-input v-model="form.rm" required type="number"></b-form-input>
        </b-form-group>
      </b-modal>
    </div>-->
    <b-row>
      <b-alert show variant="secondary" style="margin-top: 15px; width: 100%; text-align: center">
        {{exercise.name}}
      </b-alert>
      <b-alert show variant="secondary" style="margin-top: 10px; width: 100%; text-align: center">
        <p>Ausführung</p>
        {{ executions }}
      </b-alert>
    </b-row>
    <b-row>
      <b-col cols="1"/>
      <b-col cols="4">
        <b-alert show style="width: 100%" variant="secondary">
          Tempo:
          {{wrapper[index].speed[unit]}}
        </b-alert>
      </b-col>
      <b-col cols="4">
        <b-alert show style="width: 100%" variant="secondary">
          Last:
          {{load}} kg
        </b-alert>

      </b-col>
      <b-col cols="1"/>
    </b-row>
    <b-row>
      <b-col cols="1"/>
      <b-col cols="10">
        <div style="margin-top: 10px">
          <h6>Begib dich nun zu deiner nächsten Übung.</h6>
        </div>
      </b-col>
      <b-col cols="1"/>
    </b-row>
    <b-row>
      <b-col cols="1"/>
      <b-col cols="10">
        <router-link to="Training" v-if="dismissCountDown === 0">
          <b-button id="start" style="width: 100%" variant="success">
            jetzt starten!
          </b-button>
        </router-link>
        <b-alert :show="dismissCountDown"
                 variant="warning"
                 style="width: 100%"
                 @dismiss-count-down="countDownChanged">
          <p>Du hast noch {{dismissCountDown}} Sekunden Pause!</p>
          <b-progress variant="warning"
                      :max="dismissSecs"
                      :value="dismissCountDown"
                      height="4px">
          </b-progress>
        </b-alert>
      </b-col>
      <!--<b-col cols="5">
        <b-button id="belegt" style="width: 150px" variant="danger">
          belegt
        </b-button>
      </b-col-->
      <b-col cols="1"/>
    </b-row>
    <b-row>
      <b-alert show variant="secondary" style="width: 100%; margin-top: 15px; text-align: center">
        <p>Beschreibung</p>
        <br>
        {{exercise.description}}
      </b-alert>
      <b-embed type="iframe"
               aspect="16by9"
               allowfullscreen
               :src="exercise.videoURL">
      </b-embed>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios';
  import login from './Login';
  import config from './GlobalConfig';
  import Vue from 'vue';


  export default {
    name: "TrainingStarten",
    data() {
      return {
        form: {
          rm: ''
        },
        isTrainer: false,
        exercise: null,
        executions: 'Keine Informationen',
        wrapper: null,
        index: window.localStorage.getItem('index'),
        set: window.localStorage.getItem('set'),
        unit: window.localStorage.getItem('unit'),
        show: false,
        firstUnit: false,
        dismissSecs: 0,
        dismissCountDown: 0,
        showDismissibleAlert: false,
        repetitions: 0,
        additionalWeight: 0,
        load: '',

      }
    },

    mounted() {

      if (document.cookie === '') {
        this.$router.push(login)
      } else {
        //receiving the user's status to show or hide admin area
        this.code = document.cookie.split('=')[1];
        let id = atob(this.code);
        id = id.split(':')[0];
        let url = config.url + 'users/' + id + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + this.code
          }
        }).then(response => {
          this.isTrainer = (response.data === "TRAINER");
        }).catch(error => {
          console.error(error);
        });

        this.firstUnit = (window.localStorage.getItem('unit') === '0'
          && window.localStorage.getItem('set') === '0'
          && window.localStorage.getItem('index') === '0');
        this.load = JSON.parse(window.localStorage.getItem('Wrapper'))[this.index].load[this.unit][this.set];
          this.firstUnitFunction();
        this.splitLoad(JSON.parse(window.localStorage.getItem('Wrapper'))[this.index].load[this.unit][this.set]);
        this.getExercise();
        this.hasExecutions();
        this.loadPause();
      }
    },

    methods: {

      firstUnitFunction() {
        if (this.firstUnit) {
          this.show = true;
        }
      },

      splitLoad(str) {

        let patt = new RegExp(/^\d+RM([+-]\d+kg)?$/gm);
        if (patt.test(str)) {
          let parts = str.split("RM");
          let repetitions = parseInt(parts[0]);
          let additionalWeight = 0;
          if (parts[1] !== "") {
            additionalWeight = parseInt(parts[1]);
          }/*
          document.getElementById("demo").innerHTML = parts + "<br>repetitions: " + repetitions + "<br>additional weight: " + additionalWeight;
        } else {
          document.getElementById("demo").innerHTML = "no match";
        }*/
          this.repetitions = repetitions;
          this.additionalWeight = additionalWeight;
        }
      },

      callRM() {
        setTimeout(this.setRM, 10);
      },

      setRM() {
        let storage = window.localStorage;
        let wrapper = JSON.parse(storage.getItem('Wrapper'));
        Vue.set(wrapper[this.index].load[this.unit], this.set, this.form.rm);
        //this.load = this.form.rm;
        storage.setItem('Wrapper', JSON.stringify(wrapper));
      },

      countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
      },

      showAlert() {
        this.dismissCountDown = this.dismissSecs
      },

      hasExecutions() {
        if (this.exercise.executions != null) {
          this.executions = this.exercise.executions[0];
        }
      },

      loadPause() {
        if (this.set !== '0' || this.index !== '0') {
          this.showDismissibleAlert = true;
          this.dismissSecs = this.wrapper[this.index].pause[this.unit];
          this.showAlert();
        }
      },

      getExercise() {
        let storage = window.localStorage;
        let exercises = storage.getItem('Exercises');
        this.exercise = JSON.parse(exercises)[this.index];
        this.wrapper = JSON.parse(window.localStorage.getItem('Wrapper'));
      },

      logout() {
        let code = document.cookie;
        let authCode = code.split("=");
        code = authCode[1];
        let url = config.url + 'logout';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              document.cookie = '';
              this.$router.push(login);
            }
          }).catch(e => {
          console.log(e);

        });
      },
    }
  }
</script>

<style scoped>
  #menu-bar {
    background-color: rgb(108, 117, 125);
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

</style>
