<template>
  <div>
    <b-row style="height: 15px"></b-row>
    <b-row id="menu-bar" style="margin-top: 5px">
      <b-col id="left-col" cols="8">
        <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
          <b-dropdown-item>
            <router-link to="Dashboard">Profil</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Settings">Einstellungen</router-link>
          </b-dropdown-item>
        </b-dropdown>
        <b-dropdown id="admin" text="Administration" class="m-md-2" v-if="isTrainer">
          <b-dropdown-item>
            <router-link to="Admin">Übersicht</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Users">Nutzerverwaltung</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Exercise">Übungen</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Targets">Trainingsziele</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Experience">Erfahrungsgrade</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Trainingsplan">Trainingspläne</router-link>
          </b-dropdown-item>
        </b-dropdown>
      </b-col>
      <b-col id="right-col" cols="4">
        <b-button v-on:click="logout()" id="link-right">logout</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="1"></b-col>
      <b-col cols="10" style="margin-top: +20px">
        <router-link to="TrainingStarten">
          <b-button variant="success" style="width: 100%; text-align: center; margin-bottom: 15px">Training
            starten!
          </b-button>
        </router-link>
        <b-form-group v-for="(exercise, index) in exercises">
          <b-row>
            <b-col>
              <b-card bg-variant="dark" text-variant="white" :title="exercise.name"
                      tag="article"
                      style="max-width: 20rem;"
                      class="mb-2">
                <b-button variant="primary" style="width: 100%" v-on:click="generateModal(index)">
                  weitere
                  Informationen
                </b-button>
              </b-card>
            </b-col>
          </b-row>
        </b-form-group>
        <b-modal :title="exercises[index].name" v-model="show">
          <b-container fluid>
            <b-alert show v-if="hasExecution" variant="secondary">
              Ausführung : {{execution[index]}}
            </b-alert>
            <b-alert show v-if="hasDescription" variant="secondary">
              Beschreibung:
              {{exercises[index].description}}
            </b-alert>
            <b-embed type="iframe"
                     aspect="16by9"
                     v-if="hasVideo"
                     allowfullscreen
                     :src="exercises[index].videoURL">
            </b-embed>
          </b-container>
        </b-modal>
        <router-link to="TrainingStarten">
          <b-button variant="success" style="width: 100%; text-align: center">Training starten!</b-button>
        </router-link>
      </b-col>
      <b-col cols="1"></b-col>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios';
  import Login from './Login';
  import store from '../store';
  import config from './GlobalConfig';

  export default {
    name: "Trainingsuebersicht",
    data() {
      return {
        index: 0,
        show: false,
        isTrainer: false,
        execution: JSON.parse(window.localStorage.Execution),
      }
    },


    computed: {
      userId() {
        return store.getters.userId;
      },

      userPassword() {
        return store.getters.userPassword;
      },

      exercises() {
        return store.getters.exercises;
      }

    },

    mounted() {

      if (document.cookie === '') {
        this.$router.push(Login);
      } else {
        //receiving the user's status to show or hide admin area
        this.code = document.cookie.split('=')[1];
        let id = atob(this.code);
        id = id.split(':')[0];
        let url = config.url + 'users/' + id + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + this.code
          }
        }).then(response => {
          this.isTrainer = (response.data === "TRAINER");
        }).catch(error => {
          console.error(error);
        });

        this.created();
      }
    },

    created() {
      this.getSchedule();
    },

    methods: {

      getSchedule() {
        let code = document.cookie.split('=')[1];
        let zim = atob(code);
        zim = zim.split(':')[0];
        let url = config.url + 'users/' + zim + '/getSchedule';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          console.log(response);
          this.loadSchedule(response.data);
        }).catch(error => {
          console.error(error)
        });
      },

      loadSchedule(scheduleId) {
        let code = document.cookie.split('=')[1];
        let url = config.url + 'schedules/' + scheduleId;
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          let exercises = response.data.exercises;
          let storage = window.localStorage;
          store.commit('saveExercises', exercises);
          storage.setItem('Schedule', JSON.stringify(response.data));
          storage.setItem('Exercises', JSON.stringify(exercises));
          storage.setItem('Wrapper', JSON.stringify(response.data.wrapper));
          storage.setItem('Execution', JSON.stringify(response.data.executions));
          storage.setItem('index', 0);
          storage.setItem('set', 0);
          storage.setItem('unit', JSON.stringify(response.data.currentUnit));
        }).catch(error => {
          console.error(error)
        });
      },

      resetUserData() {
        store.commit('resetUserData');
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              this.resetUserData();
              document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
              this.$router.push(Login);
            }
          }).catch(e => {
          console.log(e);

        });
      },

      hasExecution() {
        return (this.exercises[this.index].executions != null);
      },

      hasDescription() {
        return (this.exercises[this.index].description != null);
      },

      hasVideo() {
        return (this.exercises[this.index].videoURL != null);
      },

      generateModal(index) {
        this.index = index;
        this.show = true;
      }
    }
  }
</script>

<style scoped>
  #menu-bar {
    background-color: rgb(108, 117, 125);
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

</style>
