<template>
  <div v-if="isTrainer">
    <b-row>
      <b-col cols="1"/>
      <b-col cols="10">
        <b-row id="menu-bar">
          <b-col id="left-col" cols="10">
            <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Dashboard">Profil</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Settings">Einstellungen</router-link>
              </b-dropdown-item>
            </b-dropdown>
            <b-dropdown id="admin" text="Administration" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Admin">Übersicht</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Users">Nutzerverwaltung</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Exercise">Übungen</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Targets">Trainingsziele</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Experience">Erfahrungsgrade</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Trainingsplan">Trainingspläne</router-link>
              </b-dropdown-item>
            </b-dropdown>
          </b-col>
          <b-col id="right-col" cols="2">
            <b-button v-on:click="logout()" id="link-right">logout</b-button>
          </b-col>
        </b-row>
        <b-row id="content">
          <b-alert show variant="light">Übersicht der
            Trainingspläne
          </b-alert>
          <div class="planTable">
            <vue-virtual-table id="trainingschedule"
                               :config="tableConfig"
                               :data="tableData"
                               selectable
                               language="en"
                               v-on:changeSelection="handleSelectionChange">
              <template slot-scope="scope" slot="actionCommon">
                <button @click="info(scope.index)">Info/Edit</button>
              </template>
            </vue-virtual-table>
            <b-modal
              v-model="show"
              id="experienceModal"
              title="Trainingsplan"
              centered
              size="lg"
              ok-variant="success"
              ok-title="Speichern"
              cancel-variant="danger"
              cancel-title="Löschen"
              @ok="validateNewInput"
              @cancel="deleteSchedule">
              <trainingsplan ref="addPlan">
              </trainingsplan>
            </b-modal>
            <router-link to="addPlan">
              <b-button>neuen Trainingsplan erstellen</b-button>
            </router-link>
          </div>
        </b-row>
      </b-col>
      <b-col cols="1"/>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios';
  import store from '../store';
  import VueVirtualTable from 'vue-virtual-table';
  import config from './GlobalConfig';
  import plan from './addPlan';
  import Dashboard from "./Dashboard";
  import login from './Login';

  export default {
    name: "Trainingsplan",
    components: {
      VueVirtualTable,
      'trainingsplan': plan
    },
    data() {
      return {
        tableConfig: [
          {prop: "id", name: "ID", searchable: true},
          {prop: "aimName", name: "Trainingsziel", searchable: true},
          {prop: "gender", name: "Geschlecht"},
          {prop: "experienceName", name: "Erfahrungsgrad", searchable: true},
          {prop: '_action', name: ' ', actionName: 'actionCommon'}
        ],
        tableData: [],
        index: 0,
        show: false,
        isTrainer: false,
      }
    },

    computed: {
      userId() {
        return store.getters.userId;
      },

      userPassword() {
        return store.getters.userPassword;
      },

      aims() {
        return store.getters.aims;
      },

      exercises() {
        return store.getters.exercises;
      },

      nameState() {
        return this.trainingUnits > 0 && this.trainingUnits < 16
      },

      experiences() {
        return store.getters.experiences;
      }
    },

    created() {
      this.loadSchedules();
    },

    watch: {
      '$route': 'loadSchedules'
    },

    /**
     * This method checks the user being logged in via the cookie and
     * verifies at the server that the user is a trainer.
     * Users not logged in will be pushed to the login. Trainers will
     * remain on the this page, all others will be pushed into the
     * 'Dashboard'.
     */
    mounted() {
      if (document.cookie === '') {
        this.$router.push(login);
      } else {

        //verify the User is logged in and verified trainer
        let code = document.cookie.split('=')[1];
        let zim = atob(code);
        zim = zim.split(':')[0];
        let url = config.url + 'users/' + zim + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          if (response.data === "TRAINER") {
            this.isTrainer = true;
            this.created();
          } else {
            this.$router.push(dashboard);
          }
        })
      }
    },

    methods: {
      handleSelectionChange(rows) {

      },

      loadSchedules() {
        let code = document.cookie.split('=')[1];
        let zim = atob(code);
        zim = zim.split(':')[0];
        let url = config.url + 'users/' + zim + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          if (response.data !== "TRAINER") {
            this.$router.push(Dashboard);
          } else {
            this.isTrainer = true;

            //Getting all schedules saved in the database
            url = config.url + "schedules";
            axios.get(url, {
              headers: {
                Authorization: 'Basic ' + code,
              }
            }).then(response => {
              this.tableData = response.data;
            }).catch(error => {
              console.error(error);
              alert("Verbindung zum Server fehlgeschlagen.")
            })
          }
        }).catch(error => {
          console.error(error);
        });
      },

      resetUserData() {
        store.commit('resetUserData');
      },

      info(index) {
        this.show = true;
        this.index = index;
        let url = config.url + 'schedules/' + this.tableData[index].id;
        let code = document.cookie.split('=')[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          let schedule = response.data;
          let units = schedule.wrapper[0].speed.length;
          this.$refs.addPlan.insertData(
            schedule.aimId,
            schedule.levelId,
            schedule.gender,
            units,
            schedule.rank,
            schedule.exercises,
            schedule.executions
          );
          setTimeout(this.setWrapper(schedule.wrapper), 1000);
        }).catch(error => {
          console.error(error);
          alert("Something went wrong.")
        });
      },

      validateNewInput() {
        this.$refs.addPlan.updatePlan(this.tableData[this.index].id);
      },

      setWrapper(wrapper) {
        let speed = [[]];
        let pause = [[]];
        let iteration = [[[]]];
        let load = [[[]]];
        let set = [[]];
        for (let i = 0; i < wrapper.length; ++i) {
          speed[i] = [];
          pause[i] = [];
          for (let j = 0; j < wrapper[i].speed.length; ++j) {
            speed[i][j] = wrapper[i].speed[j];
            pause[i][j] = wrapper[i].pause[j];
          }
        }
        for (let i = 0; i < wrapper.length; ++i) {
          iteration[i] = [];
          load[i] = [];
          iteration[i] = wrapper[i].iteration;
          load[i] = wrapper[i].load;
        }
        for (let i = 0; i < wrapper.length; ++i) {
          set[i] = [];
          for (let j = 0; j < wrapper[i].iteration.length; ++j) {
            set[i][j] = wrapper[i].iteration[j].length;
          }
        }
        this.$refs.addPlan.setWrapperAttributes(speed, pause, iteration, load, set);
      },

      deleteSchedule() {
        let code = document.cookie.split('=')[1];
        let id = this.tableData[this.index].id;
        let url = config.url + 'schedules/' + id;
        axios.delete(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          if (response.status === 2000) {
            alert("Trainingsplan gelöscht!");
            location.reload();
          }
        }).catch(error => {
          console.error(error);
          alert("Something went wrong!");
        });
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
              this.$router.push(login);
            }
          }).catch(e => {
          console.log(e);

        });
      },
    }
  }
</script>

<style scoped>
  #menu-bar {
    background-color: rgb(108, 117, 125);
    margin-top: 5px;
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

</style>
