<template>
  <div>
    <b-row style="height: 15px"></b-row>
    <b-row id="menu-bar" style="margin-top: 5px">
      <b-col id="left-col" cols="8">
        <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
          <b-dropdown-item>
            <router-link to="Dashboard">Profil</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Settings">Einstellungen</router-link>
          </b-dropdown-item>
        </b-dropdown>
        <b-dropdown id="admin" text="Administration" class="m-md-2" v-if="isTrainer">
          <b-dropdown-item>
            <router-link to="Admin">Übersicht</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Users">Nutzerverwaltung</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Exercise">Übungen</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Targets">Trainingsziele</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Experience">Erfahrungsgrade</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="Trainingsplan">Trainingspläne</router-link>
          </b-dropdown-item>
        </b-dropdown>
      </b-col>
      <b-col id="right-col" cols="4">
        <b-button v-on:click="logout()" id="link-right">logout</b-button>
      </b-col>
    </b-row>
    <b-row style="margin-top: 20px">
      <b-col cols="1"/>
      <b-col cols="10">
        <b-alert show variant="success">
          <h3>Gratulation!</h3>
          <hr>
          Du hast die Trainingseinheit erfolgreich abgeschlossen.
        </b-alert>
      </b-col>
      <b-col cols="1"/>
    </b-row>
    <b-row style="margin-top: 50px">
      <b-col cols="1"/>
      <b-col cols="10">
        <router-link to="Dashboard" style="width: 100%">
          <b-button size="lg" variant="outline-secondary" style="width: 100%">zurück ins Dashboard</b-button>
        </router-link>
      </b-col>
      <b-col cols="1"/>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios';
  import store from '../store';
  import config from './GlobalConfig';
  import login from './Login'

  export default {
    name: "TrainingDone",

    data() {
      return {
        isTrainer: false,
        success: false,
      }
    },

    mounted() {

      if (document.cookie === '') {
        this.$router.push(login);
      } else {
        //receiving the user's status to show or hide admin area
        this.code = document.cookie.split('=')[1];
        let id = atob(this.code);
        id = id.split(':')[0];
        let url = config.url + 'users/' + id + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + this.code
          }
        }).then(response => {
          this.isTrainer = (response.data === "TRAINER");
        }).catch(error => {
          console.error(error);
        });

        this.sendData();
      }
    },

    methods: {

      sendData() {
        let storage = window.localStorage;
        let wrapper = JSON.parse(storage.getItem('Wrapper'));
        let schedule = JSON.parse(storage.getItem('Schedule'));
        let unit = JSON.parse(storage.getItem('unit'));
        unit = parseInt(unit) + 1;

        let object = {
          id: schedule.id,
          currentUnit: unit,
          wrapper: wrapper
        };

        let code = document.cookie.split('=')[1];
        this.submitData(code, object);

      },

      submitData(code, object) {
        let url = config.url + 'schedules/endUnit';
        axios.put(url, object, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          console.log(response);
          window.localStorage.clear();
        }).catch(error => {
          console.error(error);
          setTimeout(function () {
            this.submitData(code, object)
          }.bind(this), 60000);
        });
      },

      resetUserData() {
        store.commit('resetUserData');
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        })
          .then((response) => {
            if (response.status === 200) {
              this.resetUserData();
              document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
              this.$router.push(login);
            }
          }).catch(e => {
          console.log(e);

        });
      },
    }
  }
</script>

<style scoped>

  #menu-bar {
    background-color: rgb(108, 117, 125);
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

</style>
