<template>
  <div v-if="isTrainer">
    <b-row>
      <b-col cols="12">
        <b-row id="menu-bar">
          <b-col id="left-col" cols="10">
            <b-dropdown id="dashboard" text="Dashboard" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Dashboard">Profil</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Settings">Einstellungen</router-link>
              </b-dropdown-item>
            </b-dropdown>
            <b-dropdown id="admin" text="Administration" class="m-md-2">
              <b-dropdown-item>
                <router-link to="Admin">Übersicht</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Users">Nutzerverwaltung</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Exercise">Übungen</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Targets">Trainingsziele</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Experience">Erfahrungsgrade</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="Trainingsplan">Trainingspläne</router-link>
              </b-dropdown-item>
            </b-dropdown>
          </b-col>
          <b-col id="right-col" cols="2">
            <b-button v-on:click="logout()" id="link-right">logout</b-button>
          </b-col>
        </b-row>
        <b-row>
          <b-alert show style="margin-top:5px;background-color:white;width:100%;text-align: center">Übersicht
            der
            registrierten Nutzer
          </b-alert>
          <vue-virtual-table
            id="user"
            :config="tableConfig"
            :data="items"
            language="en"
            v-on:changeSelection="">
            <template slot-scope="scope" slot="actionCommon">
              <button @click="info(scope.index)">Info/Edit</button>
            </template>
          </vue-virtual-table>
          <b-modal
            v-model="show"
            id="userModal"
            title="Nutzerübersicht"
            centered=true
            ok-variant="success"
            ok-title="Speichern"
            @ok="validate"
            cancel-variant="danger"
            cancel-title="Abbrechen">
            <b-container fluid>
              <b-row class="mb-1 text-center">
                <b-col cols="3">Vorname</b-col>
                <b-col>{{ items[scopeIndex].name}}</b-col>
              </b-row>
              <b-row class="mb-1 text-center">
                <b-col cols="3">Nutzergruppe</b-col>
                <b-col>
                  <b-form-select v-model="selected" :options="status" class="mb-3"/>
                </b-col>
              </b-row>
            </b-container>
          </b-modal>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import axios from 'axios'
  import login from './Login';
  import dashboard from './Dashboard';
  import VueVirtualTable from 'vue-virtual-table';
  import config from './GlobalConfig';

  export default {
    name: "Users",
    components: {
      VueVirtualTable
    },
    data() {
      return {
        tableConfig: [
          {prop: 'name', name: "Vorname"},
          {prop: 'zim', name: "ZIM Kennung", searchable: true},
          {prop: 'status', name: "Nutzergruppe"},
          {prop: 'login', name: "Letzter Login"},
          {prop: '_action', name: ' ', actionName: 'actionCommon'}
        ],
        items: [],
        show: false,
        scopeIndex: 0,
        status: [],
        selected: null,
        isTrainer: false
      }
    },

    /**
     * This method checks the user being logged in via the cookie and
     * verifies at the server that the user is a trainer.
     * Users not logged in will be pushed to the login. Trainers will
     * remain on the this page, all others will be pushed into the
     * 'Dashboard'.
     */
    mounted() {
      if (document.cookie === '') {
        this.$router.push(login);
      } else {

        //verify the User is logged in and verified trainer
        let code = document.cookie.split('=')[1];
        let zim = atob(code);
        zim = zim.split(':')[0];
        let url = config.url + 'users/' + zim + '/status';
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code
          }
        }).then(response => {
          if (response.data === "TRAINER") {
            this.isTrainer = true;
            this.getAllUser();
          } else {
            this.$router.push(dashboard);
          }
        })
      }
    },

    methods: {

      /**
       * Receives all user saved in the database and generates the
       * 'VueVirtualTable' displayed for a trainer.
       */
      getAllUser() {
        let url = config.url + "users/getAllUser";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        // Receiving all user saved at the server.
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        }).then(response => {
          console.log(response);
          this.response = response.data;
          let users = this.response.replace("User:", "");
          let array = users.split(" , ");
          let i;
          for (i = 0; array.length; ++i) {
            this.items.push(JSON.parse(array[i]));
          }
        }).catch(error => {
          console.error(error);
        })
      },

      /**
       * Updates the global scopeIndex with the pressed buttons position and uses these information to
       * determine the correct sequence for the select tag inside the popup window allowing moderators to
       * change the users' status.
       *
       * @param index Index position of the button pressed.
       */
      info(index) {
        this.scopeIndex = index;
        let userStatus = this.items[index].status;
        if (userStatus === "USER") {
          this.status = [
            {value: null, text: "User"},
            {value: 0, text: "Trainer"},
            {value: 2, text: "User sperren"}
          ]
        } else if (userStatus === "TRAINER") {
          this.status = [
            {value: null, text: "Trainer"},
            {value: 1, text: "User"},
            {value: 2, text: "User sperren"}
          ]
        } else {
          this.status = [
            {value: null, text: "User ist gesperrt"},
            {value: 1, text: "User"},
            {value: 0, text: "Trainer"}
          ]
        }
        this.show = true;
      },

      /**
       * Validates the user input. If a moderator did not change a user's status but pressed "Speichern" nothing
       * will happen. If a moderator did change a user's status those changes will be send to the server and the
       * page will be reloaded to display the change.
       */
      validate() {
        if (this.selected != null) {
          let zim = this.items[this.scopeIndex].zim;
          let status = this.selected;
          let update = {
            zim: zim,
            status: parseInt(status)
          };
          let url = config.url + "users/updateUser";
          let code = document.cookie;
          let authCode = code.split('=');
          code = authCode[1];
          axios.post(url, update, {
            headers: {
              Authorization: 'Basic ' + code,
            }
          })
            .then(result => {
              console.log(result);
              alert("Der Userstatus wurde erfolgreich geändert.");
              this.show = false;
              let newStatus = "USER";
              if (status === '0') {
                newStatus = "TRAINER"
              } else if (status === '2') {
                newStatus = "UNKNOWN"
              }
              this.items[this.scopeIndex].status = newStatus;
              location.reload();
            }, error => {
              console.error(error);
              alert("Der Userstatus konnte nicht geändert werden.")
            });
        }
      },

      /**
       * The user will be logged out, the authentication cookie will be deleted
       * and the user will be pushed to the login.
       */
      logout() {
        let url = config.url + "logout";
        let code = document.cookie;
        let authCode = code.split('=');
        code = authCode[1];
        axios.get(url, {
          headers: {
            Authorization: 'Basic ' + code,
          }
        }).then((response) => {
          if (response.status === 200) {
            document.cookie = 'Auth=""' + ';expires=' + new Date().toUTCString();
            this.$router.push(login);
          }
        }).catch(e => {
          console.log(e);

        });
      },
    }
  }
</script>

<style scoped>
  #menu-bar {
    background-color: rgb(108, 117, 125);
  }

  #link-right {
    float: right;
    height: 100%;
    width: auto;
    text-align: center;
  }

  #menu-bar {
    margin-top: 5px;
  }
</style>
